<div class="AMARE">
    <div class="skepsiLogo">
      <img src="../../../../../assets/img/skepsi/logo/SKEPSI_LOGO_05.png" class="skepsiLogo">
    </div>
    <div>
      <audio id="initEjerAudio" #initEjerAudio src="../../../../../assets/Audios/InicioFin/SonidoInicioEjercicio.mpeg"
      preload="auto"></audio>
      <audio id="finEjerAudio" #finEjerAudio src="../../../../../assets/Audios/InicioFin/SonidoFinEjercicio.mpeg"
        preload="auto"></audio>
      <audio id="initRutAudio" #iniRutAudio src="../../../../../assets/Audios/InicioFin/SonidoInicioRutina.mpeg" preload="auto"></audio>
    </div>
    <div class="general">
      <!-- INSTRUCCIONES -->
      <div *ngIf="instruccionesDOM"> 
        <!-- BARRA DE PROGRESO INICIO -->
        <div class="row progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            [attr.aria-valuenow]="timeInstructions" [style.width]="(timeInstructions*10)+'%'" aria-valuemin="0" aria-valuemax="20"
            style="margin:0px auto;">
          </div>
        </div>
        <!-- BARRA DE PROGRESO FIN -->
        <br>
        <div class="row">
          <p class="titulo">A continuación verás una sílaba, tienes que formar palabras que empiecen o incluyan dicha sílaba, presta mucha atención</p>
        </div>
      </div>
      <div *ngIf="!instruccionesDOM">
        <div *ngIf="!resultadosDOM">
          <div *ngIf="startDOM">
            <div class="row">
              <div class="row progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  [attr.aria-valuenow]="timeStart" [style.width]="(timeStart*0.5556)+'%'" aria-valuemin="0" aria-valuemax="20"
                  style="margin:0px auto;">
                </div>
              </div>
            </div>
            <h1>Cuántas palabras puedes formar que <b>INICIEN</b> con la sílaba:</h1>
            <p class="silaba">{{startActual}}</p>
            <h1>(Escribe con minúsculas y acentos si los tiene)</h1>
            <br>
              <div class="row justify-content-center mt-4">
                <div class="col-4">
                  <input type="text" placeholder="Palabra" [(ngModel)]="palabraUsuario" style="margin:10px;">
                  <button (click)="agregarPalabra(1)" mat-raised-button class="ml-1 mt-1"class="buttonSkepsi textoBoton" >Agregar</button>
                </div>
                <div class="col-4"
                  style="text-align: left; 
                  background-color: white;
                  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
                  border-radius: 5px;">
                  <p>Respuestas</p>
                  <ul style="list-style: none; " >
                      <li *ngFor="let respuesta of respuestasUsuarioStarts">{{respuesta}}</li>
                  </ul>
                </div>
              </div>
          </div>
          <div *ngIf="includeDOM">
            <div class="row">
              <div class="row progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  [attr.aria-valuenow]="timeInclude" [style.width]="(timeInclude*0.5556)+'%'" aria-valuemin="0" aria-valuemax="20"
                  style="margin:0px auto;">
                </div>
              </div>
            </div>
            <h1>Cuántas palabras puedes formar que <b>CONTENGAN</b> con la sílaba:</h1>
            <p class="silaba">{{includeActual}}</p>
            <h1>(Escribe con minúsculas y acentos si los tiene)</h1>
            <br>
            <div class="row justify-content-center mt-4">
              <div class="col-4">
                <input type="text" placeholder="Palabra" [(ngModel)]="palabraUsuario" style="margin:10px;">
                <button (click)="agregarPalabra(2)" mat-raised-button class="ml-1 mt-1"class="buttonSkepsi textoBoton" >Agregar</button>
              </div>
              <div class="col-4"
                style="text-align: left; 
                background-color: white;
                box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; 
                border-radius: 5px;">
                <p>Respuestas</p>
                <ul style="list-style: none; " >
                    <li *ngFor="let respuesta of respuestasUsuarioInclude">{{respuesta}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="resultadosDOM">
          <div class="row">
            <div class="row progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [attr.aria-valuenow]="timeDescanso" [style.width]="(timeDescanso*1.6667)+'%'" aria-valuemin="0" aria-valuemax="20"
                style="margin:0px auto;">
              </div>
            </div>
          </div>
          <div class="row">
            <p class="titulo">Ejercicio terminado!</p>
            <p class="titulo"> Resultados:</p>
            <div class="col">
              <p class="titulo">Obtuviste {{calificacionStartDOM}} palabras de un total de  {{cantidadFigurasStartDOM}} que <b>iniciaban</b> con la sílaba</p><p class="silaba">{{startActual}}</p>
              <div class="row">
                <div class="col" style="background-color: white;">
                    <h1>Tus respuestas</h1>
                    <ul style="list-style: none;">
                        <li *ngFor="let respuesta of respuestasUsuarioStarts">{{respuesta}}</li>
                    </ul>
                </div>
                <div class="col" style="background-color: white;">
                    <h1>Respuestas</h1>
                    <ul style="list-style: none;">
                        <li *ngFor="let respuesta of palabrasRespuestaStart">{{respuesta}}</li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <p class="titulo">Obtuviste {{calificacionIncludeDOM}} palabras de un total de  {{cantidadFigurasIncludeDOM}} que <b>incluían</b> con la sílaba</p> <p class="silaba">{{includeActual}}</p>
              <div class="row">
                <div class="col" style="background-color: white;">
                    <h1>Tus respuestas</h1>
                    <ul style="list-style: none;">
                        <li *ngFor="let respuesta of respuestasUsuarioInclude">{{respuesta}}</li>
                    </ul>
                </div>
                <div class="col" style="background-color: white;">
                    <h1>Respuestas</h1>
                    <ul style="list-style: none;">
                        <li *ngFor="let respuesta of palabrasRespuestaInclude">{{respuesta}}</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
    
    
    
    
    
    
    
    
    
    