<div class="container" style="margin-bottom: 30px">
  <div class="row">
    <div class="col">
      <h1>Manifiesto de Marca</h1>
      <p>Skepsi cree en la autonomía de pensamiento, te acompaña e impulsa a descubrir tu
        potencial intelectual y emocional para que puedas enfrentar los retos cotidianos,
        generando confianza en ti mismo, despertando y activando tus habilidades de
        pensamiento, Ejercitando tu mente, Skepsi te reta y te ayuda a entender e interpretar mejor el mundo”.</p>
      <h1>Código de ética</h1>
      <h2>Introducción</h2>
      <p>En Skepsi gimnasio del pensamiento somos una organización integral, compuesta por
        diversos elementos quienes tienen sus respectivas aspiraciones, retos y sueños.
        Consideramos que quienes forman parte de nuestra organización tomaron una decisión
        consciente y que además el hecho de que compartan su tiempo, conocimiento y experiencia
        no es una consecuencia del azar.  </p>
      <p>Con la intención de poder integrar en una sola idea -más no en una sola voz-, el
        actuar de quienes integramos el equipo de Skepsi se entrega este código de conducta, que
        persigue alimentar de ideas a todos quienes formamos parte de esta aventura de
        emprendimiento y cuya intención es determinar una serie de principios que acompañen a
        los actos más comunes a fin de crear un canal de comunicación y aprendizaje de todos sus
        miembros que conduzcan a las mejores prácticas.</p>
      <h2>Acerca de los valores institucionales.</h2>
      <p>Skepsi gimnasio del pensamiento se funda bajo la idea de promover prácticas cognitivas
        saludables, ya que mediante la práctica continua de distintas habilidades del pensamiento,
        se promueve el desarrollo de espacios fundamentales para el saludable desarrollo del ser
        humano
        tales como lo son la memoria, la comprensión o el análisis.</p>
      <p>Este es un reto que requiere alto nivel de responsabilidad por parte de la
        organización, misma que se transmite día a día con el actuar de todo el equipo que le
        acompañe, es por ello que Skepsi determinó los siguientes valores institucionales que serán
        los mecanismos rectores para alcanzar el objetivo fundamental que nos hemos trazado:</p>
      <ul>
        <li>Estamos a favor de la autonomía del pensamiento.</li>
        <li>Fomentamos la integración del pensamiento complejo.</li>
        <li>Confiamos en la capacidad intelectual y afectuosa del ser humano.</li>
        <li>Las ideas siempre están por encima de la política.</li>
      </ul>
      <p>Consideramos que el declarar los valores institucionales son un buen inicio para promover
        buenas prácticas dentro de nuestra organización, donde además confiamos en la
        inteligencia de cada uno de nuestros colaboradores, en su individualidad, complejidad,
        afecto y creatividad. Por lo que consideramos que, si tu no estás de acuerdo con alguno de
        estos principios probablemente Skepsi gimnasio del pensamiento no sea la organización
        adecuada para ti.</p>
      <p>La formulación de cada uno de estos valores institucionales, persiguen promover el
        potencial del pensamiento de todos quienes formamos parte de este proyecto, ya que
        creemos que tanto clientes como colaboradores, empleados, proveedores y directivos
        podemos dar nuestra mejor versión en cuatro distintos niveles:</p>
      <ul>
        <li>Intelectual</li>
        <li>Individual</li>
        <li>Emocional</li>
        <li>Colectivo-social</li>
      </ul>
      <p>Nuestros valores institucionales están formulados de forma que puedan ser un conducto
        inicial más no condicional, para la promoción de la mejor versión de la individualidad de
        todos los que formamos parte de esta organización, por lo que se les invita a que puedan
        consultarlas cada vez que consideren necesario a fin de precisar su aplicación.</p>
      <h2>¿Qué comportamientos alentamos en Skepsi gimnasio del pensamiento?</h2>
      <p>Determinar y comunicar nuestros valores institucionales son sólo el inicio de un camino que
        requiere consistencia, seguimiento, cuestionamiento y acción. Una serie de condiciones
        que deben ser promovidas desde el primer día desde las áreas directivas y los líderes de
        procesos, considerando que todos formamos parte de una colectividad que aprende.</p>
      <p>Nuestros líderes deben ser los principales promotores de estos valores y deben
        manifestarlo durante el actuar cotidiano, deben tener presente que son la guía del esfuerzo
        de sus respectivas áreas y cuyo resultado es un componente de la organización, el trabajo
        en equipo, la disposición de colaborar en función del mejor resultado, así como primar las
        ideas por encima de la política son acciones esperadas; por lo tanto, en Skepsi el
        individualismo no es una acción bien vista.</p>
      <p>Los líderes saben actuar en apoyo y dirección de sus equipos, deben tener presente
        la disposición de escuchar y aprender. Es válido que un directivo pueda generar las acciones
        necesarias a seguir a fin de alcanzar un objetivo, pero debe tener presente que para ello
        debe contar con el desempeño de sus colaboradores, así como de sus pares institucionales.
        Por lo tanto, un líder dentro de Skepsi tiene la capacidad de ser asertivo pero también
        receptivo, debe contar con la disposición de apoyar el esfuerzo colectivo aunque esté en
        contra de sus intereses personales, debe promover el sentido crítico, la creatividad,
        innovación y toma de decisiones.</p>
      <p>Un punto a tomar en consideración, es que un líder en Skepsi debe promover en
        todo momento que tanto él como sus coequiperos, tienen que fomentar su mejor versión
        de inteligencia colectiva, la manera en la que visualizamos a nuestra organización, nos
        permite no
        estar atados a un horario ni tampoco a un esquema de trabajo tradicional, por lo tanto, se
        recomienda que durante el tiempo que se le dedique a la organización, cuente con las
        mejores habilidades cognitivas de cada uno de sus integrantes a fin de generar acciones y
        decisiones que fomenten la creación de valor.</p>
      <h2>En Skepsi fomentamos la integración del pensamiento complejo</h2>
      <p>Sabemos que el ser humano cuenta con distintas facetas de desempeño, es producto de su
        aprendizaje primario, su experiencia, su entorno, paradigmas, principios y cultura.
        Pretender ceñir a nuestros colaboradores a un solo modelo de pensamiento no solamente
        es incorrecto, sino que además lo consideramos injusto.</p>
      <p>Nosotros identificamos en cada persona su individualidad, valoramos sus gustos,
        preferencias, acentos, principios, ideales y todas aquellas otras características que le hacen
        único. Además, tenemos presente que esa individualidad es necesaria para el desempeño
        colectivo, por lo que consideramos que el fomento de las mejores cualidades que cada
        colaborador nos desee compartir será una práctica recomendable.</p>
      <p>Nosotros no pensamos que Skepsi gimnasio de la mente es una organización que se
        maneje mediante una serie de operaciones mecanizadas, entendemos que cada individuo
        forma parte de nuestro sistema complejo, por lo que debemos visualizarnos como una
        componentes necesarios del sistema cuyas acciones tendrán repercusiones en el resultado
        final, de ahí la importancia de la toma de decisiones con sentido crítico.</p>
      <p>Dentro de Skepsi consideramos que la toma de decisiones es una de las actividades
        clave que se deben promover dentro de cada uno de los equipos de trabajo, debido a
        nuestra dinámica laboral, se hace hincapié a nuestros directivos y líderes que tengan
        presente que la toma de decisiones se debe ejecutar considerando tanto el papel del
        individuo dentro de la organización y la consideración del impacto de sus decisiones. El
        fomento a la libertad de pensamiento es la fuente de energía necesaria para determinación
        de acciones como en Skepsi tenemos clara la importancia de la integración del pensamiento
        complejo, consideramos necesaria la retroalimentación del sistema, ya que tenemos
        presente que somos una organización que aprende y en consecuencia se han formulado
        distintos</p>
      <p>mecanismos para retroalimentar el desempeño de la organización:</p>
      <ul>
        <li>Para aprender a escuchar la voz del cliente</li>
        <li>Para identificar el impacto de la toma de decisiones en los procesos</li>
        <li>Para identificar el desempeño individual como un elemento que forma parte del
          sistema</li>
      </ul>
      <p>Sabemos que todas las decisiones del ser humano están acompañadas de emociones, por
        lo que entendemos que el error también forma parte del sistema, consideramos que el
        sentimiento de fracaso asociado a la equivocación, aunque entendible, es una sensación
        pasajera ya que el aprendizaje que encierra es altamente valioso, por lo que motivamos a
        nuestros equipos a profundizar y encontrarle valor a estas experiencias.</p>
      <h2>La pasión por la inteligencia del ser humano</h2>
      <p>Tenemos dentro de Skepsi la oportunidad de trabajar, observar, analizar y distinguir las
        distintas facetas que corresponden a la inteligencia humana. Nuestra organización está
        concebida para desarrollar habilidades de pensamiento considerando distintos niveles
        cognitivos, donde el desempeño particular de cada uno de nuestros clientes se convierte
        en una excitante aventura para desarrollar nuevas rutinas que fortalezcan cada pilar
        cognitivo.</p>
      <p>Esto es posible cuando fomentamos la autonomía del pensamiento en cada uno de
        nuestros integrantes, desde los cuerpos académicos, pasando por los diseñadores,
        programadores, entrenadores y administrativos; se impulsa la idea de sugerir, innovar,
        crear. Para Skepsi gimnasio del pensamiento, nuestros componentes son personas que
        están entusiasmadas por contribuir a la salud cognitiva, por ello, nos esforzamos para crear
        canales de comunicación que nos permitan escucharlos.</p>
      <ul>
        <li>Para generar valor dentro de nuestros procesos</li>
        <li>Para crear confianza con nuestros recursos humanos</li>
        <li>Para fortalecer los programas de sugerencias de mejora</li>
      </ul>
      <p>Consideramos además que, debemos recalcarles a nuestros colaboradores, que la
        autonomía de pensamiento no es un concepto que permita pasar por encima de nuestro
        sistema de calidad, ya que la determinación de cada uno de los distintos procesos cumple
        con un objetivo específico. Nuestros directivos y líderes de procesos deben promover con
        nuestros colaboradores la idea de que los procesos tienen una función determinada pero
        que no son infalibles, de hecho, una constante dentro de un sistema de calidad es la mejora
        y, en consecuencia, una manera en la
        que interpretamos la autonomía de pensamiento es el fomentar el análisis crítico de
        nuestro sistema con la intención de promover y puntualizar la generación de valor.</p>
      <p>La discusión de una idea es una habilidad cognitiva de orden superior, requiere
        integrar distintas categorías como, por ejemplo: el análisis, la comprensión, la síntesis.
        Claramente, debido a que estamos acostumbrados al pensamiento disruptivo, es válido que
        existan opiniones distintas acerca de una idea en particular.</p>
      <p>Es por ello que se promueve dentro de Skepsi la discusión de las ideas bajo
        ambientes propicios que alienten el desarrollo de las mejores prácticas, es por ello que se
        requiere que en estas reuniones se cumplan con los siguientes requerimientos:</p>
      <ul>
        <li>La sesión online debe grabarse</li>
        <li>La idea o propuesta debe estar planteada y entendida previamente, nunca se debe
          tomar una decisión sin que haya un periodo de reflexión de por medio</li>
        <li>
          La discusión debe contener dos momentos
          <ul>
            <li>Una respuesta por escrito de cada integrante o dueño del proceso que esté
              involucrado, misma que debe estar disponible para su consulta</li>
            <li>Una discusión verbal donde se puntualicen los distintos argumentos para la
              toma de decisiones</li>
          </ul>
        </li>
      </ul>
      <p>Estos requisitos más que inhibir una idea, buscan enriquecer el proceso de reflexión, análisis
        y argumentación. No se trata de crear foros de crecimiento personal, sino de establecer
        mecanismos que permitan abonar a la idea inicial y darle robustez.</p>
      <p>Nuestra pasión por la inteligencia la interpretamos como un proceso que sobrepase
        la exaltación de la emoción básica y que esa pasión se conduzca de manera positivamente
        emotiva. El control de las emociones durante los debates es siempre apreciado.</p>
      <h2>Aunque nos apoyamos en el sistema complejo, nuestros procesos son simples.</h2>
      <p>Nuestros procesos son componentes de referencia necesarios para establecer mecanismos
        de operación de la organización, al igual como sucede en el cerebro, la plasticidad debe ser
        un principio que nos permita también determinar nuevas soluciones ante viejos retos. Esto nos
        lleva a considerar que los procesos se establecen para guiar la génesis de un conjunto de
        buenas prácticas.</p>
      <p>Estamos conscientes de que al igual como sucede con un ser humano, Skepsi
        gimnasio del pensamiento nace joven e inexperto y que conforme va pasando el tiempo, va
        aprendiendo y madurando. Esta experiencia se documenta con la idea de enriquecer cada
        una de nuestras actividades, procesos, procedimientos, métodos de trabajo.</p>
      <p>Sin embargo, debemos tener presente que el crecimiento de la organización no
        tiene que estar relacionado con el desarrollo de procesos complejos, de hecho, la historia
        ha demostrado que existen sociedades complejas que valoran y promueven a la simplicidad
        por su carácter estético y práctico.</p>
      <p>Los directores y líderes deben tener presente, que los procesos que acompañan el
        desempeño cotidiano de Skepsi gimnasio del pensamiento, deben representar la condición
        óptima, que debe además ofrecer:</p>
      <ul>
        <li>Respuesta a las necesidades del cliente</li>
        <li>Fomentar de manera práctica la toma de decisiones de nuestros equipos</li>
        <li>Premiar el aprendizaje e inhibir el castigo</li>
        <li>Fundamentar las ideas innovadoras, facilitar su escucha y ejecución</li>
        <li>Simplificar las acciones y potencializar los resultados</li>
        <li>Favorecer las bases para que la organización aprenda (autopoiesis)</li>
      </ul>
      <p>La simplicidad es un objetivo de los dueños de cada proceso, su desarrollo, atención y
        aprendizaje permite considerar la determinación de rutas críticas que servirán de soporte
        para la estructura de procesos maduros, sencillos, prácticos.</p>
      <h2>¿Cómo crear la capacidad afectuosa de nuestros integrantes si somos una
        organización 100% en línea?</h2>
      <p>Una de las preguntas que nos hicimos desde la concepción de Skepsi gimnasio del
        pensamiento, fue que, al ser una organización totalmente en línea, debíamos concebir una
        serie de procesos y acciones que promuevan la riqueza de le experiencia humana.</p>
      <p>Para que sea posible, en Skepsi procuramos desarrollar el sentido de pertenencia
        entre todos los integrantes de este proyecto, para ello, les hacemos hincapié en el sentido
        de nuestros valores ya que pensamos que la pertenencia hacia la organización se gana
        mediante el convencimiento de todo el equipo de trabajo en el significado de nuestra
        misión:</p>
      <h3>Promover en el individuo la integración de distintos modelos de
        pensamiento como una práctica saludable”</h3>
      <p>Creemos que Skepsi debe ser vista como una organización que promueve la salud cognitiva,
        donde nuestro principal interés es promover distintas estrategias intelectuales que
        fomenten la ejecución continua del pensamiento crítico, estructurado, cuestionador,
        innovador, abstracto, emotivo etc.</p>
      <p>Para que esto también sea posible, Skepsi se visualiza como una empresa que invita
        a sus colaboradores a ejercer por si mismos estas prácticas cognitivas saludables; Skepsi
        provee continuamente retos para fortalecer cada uno de nuestros cuatro pilares:</p>
      <ul>
        <li>Desarrollo cognitivo – Gnostiki</li>
        <li>Lenguaje y comunicación – Glossa</li>
        <li>Pensamiento lógico y matemático -Mathimatika</li>
        <li>Emociones y afectos -Exousia</li>
      </ul>
      <p>Además, consideramos que debe existir congruencia entre nuestra aspiración por el
        desarrollo de buenas prácticas saludables, así como laborales, es por ello que en Skepsi
        gimnasio del pensamiento promovemos desde el ingreso el desarrollo de un plan de vida y
        carrera que acompañe a nuestro equipo, donde además de considerar el tener
        percepciones económicas atractivas, también les acompañen buenas prácticas cognitivas y
        de buena convivencia.</p>
      <p>Además, consideramos que los integrantes de nuestra organización deben ser vistos
        como colaboradores que comparten intereses, emociones, afectos y pertenencias, si así lo
        desean, nos gustaría conocer esta faceta. Por ello, en Skepsi promovemos actividades de
        integración mediante la ejecución de actividades lúdicas, nuestro interés es que,
        indistintamente del lugar geográfico en donde encontremos a nuestros colaboradores,
        podremos conocernos y establecer vínculos positivos y emocionales, la participación en
        estos eventos los consideramos de alto valor.</p>
      <p>Reconocemos además la importancia del adecuado desempeño de nuestra área de
        recursos humanos, que debe ser el mecanismo natural de comunicación para atender y
        entender las necesidades del personal, deseamos que la participación de nuestros
        colaboradores sea orgánica y placentera, por lo que les instamos a que tomen decisiones
        considerando la generación de valor en el ánimo de que somos una empresa que premia la
        inteligencia y las buenas decisiones.</p>
      <p>De esta manera, en Skepsi gimnasio del pensamiento pretendemos que exista un
        sistema de comunicación abierta, donde nuestros colaboradores se sientan parte de un
        equipo que promueve el cambio personal de miles de usuarios, persiguiendo la idea de que,
        el desarrollo de buenas prácticas intelectuales -desde niños hasta adultos mayores-,
        fomentará la formación de una sociedad más inteligente y socialmente empática.</p>
      <h2>Estamos a favor de la libertad de pensamiento y en contra de las malas prácticas</h2>
      <p>Hemos mencionado que en Skepsi gimnasio del pensamiento nos apasiona impulsar el
        potencial del pensamiento humano, y para que esto sea posible, debemos favorecer las
        mejores prácticas. Claramente, aquellas actitudes que estén en contra de esta idea son
        consideradas indeseables y no son toleradas dentro de nuestra organización.</p>
      <p>Ejemplo de algunas de las actitudes y prácticas que son causales de recisión
        inmediata de la organización pueden ser:</p>
      <ul>
        <li>La violencia</li>
        <li>El acoso</li>
        <li>La coacción</li>
        <li>El racismo</li>
        <li>La homofobia y prácticas de discriminación de carácter sexual</li>
        <li>El clasismo</li>
        <li>El intercambio de información no autorizada</li>
        <li>La pérdida de confianza</li>
        <li>Atentados contra la seguridad del sistema o de los datos del personal y nuestros
          usuarios y/o clientes</li>
      </ul>
      <p>En Skepsi partimos desde el principio de que una buena práctica intelectual se acompaña
        de valores personales, mismos que fortalecen nuestra continua toma de decisiones.</p>
      <p>Sabemos que el ser humano también es susceptible de cometer errores, sin
        embargo, consideramos que actitudes y prácticas como las enlistadas anteriormente no
        pueden ser sólo producto del error sino de principios individuales que están atentando contra la
        organización y nuestra sociedad y, por ende, somos inflexibles al respecto.</p>
      <h2>La escucha al cliente y la generación de valor</h2>
      <p>Skepsi nace con la intención de desarrollar buenos hábitos cognitivos, transmitir esta idea
        puede ser compleja especialmente si consideramos que es un concepto nuevo y diferente.
        El tratar de asociar las prácticas intelectuales a un gimnasio y además incluirlas en una serie
        de rutinas es por si mismo, un paradigma distinto.</p>
      <p>Debido a esto, nos hemos preocupado por desarrollar un concepto de marca que
        favorezca la transmisión del mensaje que Skepsi quiere proporcionarle a la sociedad,
        nuestro logotipo, colores, identidad de marca son algunos ejemplos de ello.</p>
      <p>Sin embargo tenemos claro que estos principios son sólo el punto de partida, ya que
        la creación de la propuesta de valor está sólidamente fundamentada en la experiencia de
        nuestros usuarios. Son de hecho los clientes, quienes nos favorecerán con la continuidad o
        transformación del proyecto del gimnasio de la mente.</p>
      <p>Teniendo esta idea como base, los directores y líderes de área debemos impulsar
        buenas prácticas entre nuestros integrantes para aprender a escuchar al cliente y estimular
        la generación de valor. Skepsi ha determinado para que esto sea más fácil de comprender
        algunas acciones que fomentan la escucha al cliente:</p>
      <ul>
        <li>La implementación de un área específica de social media y servicio post venta que
          tiene como principio fundamental transmitir la experiencia del cliente, asociada a
          Skepsi.</li>
        <li>La implementación de un proyecto de manejo estadístico de resultados que le
          permite al área de diseño de rutinas identificar aspectos de mejora.</li>
        <li>La implementación de un canal de comunicación entre el usuario y el CEO al término
          de cada rutina que persigue la intención de conocer la experiencia de cliente.</li>
      </ul>
      <p>Además se han desarrollado procesos que permiten identificar el proceso de actuación ante
        reclamaciones y mejoras propuestas.</p>
      <p>Estas acciones son el inicio del camino de la búsqueda de la generación de valor en
        nuestra comunidad: por una parte Skepsi aprende de nuestros clientes, les escucha y actúa
        conforme a sus necesidades y por otra, nuestros clientes asocian la salud cognitiva como el
        beneficio primario al participar con nosotros aunque asocian otras ventajas cognitivas como
        lo son el mejorar sus habilidades emocionales, afectivas y sociales.</p>
      <h2>En Skepsi tenemos claro nuestro compromiso social</h2>
      <p>En Skepsi gimnasio del pensamiento tenemos claro que nuestro servicio posee desde su
        conceptualización bases sociales, ya que creemos firmemente que la formación y el
        ejercicio de buenos hábitos de pensamiento promoverán mejores sociedades, este es
        nuestro principio básico, nuestra razón de ser y existir.</p>
      <p>Pero además creemos que podemos realizar algunas acciones extras que fomenten
        la formación de una mejor sociedad futura para ello perseguimos tres ideas puntuales:</p>
      <ul>
        Somos una empresa de cero papel: Skepsi está diseñada para que todos sus
        procesos se realicen de manera virtual:
        <li>En el plano laboral desde la requisición de personal hasta el pago, todas las
          operaciones y validaciones son virtuales. El único papel que permitimos es el
          que reciben nuestros colaboradores cuando van a cobrar al banco.</li>
        <li>En el plano comercial desde la conceptualización del contrato de servicio
          hasta la información de estadísticas de desempeño son libres de papel, la
          comunicación hacia el cliente y en sentido contrario son electrónicas.</li>
        <li>En el plano de marketing y branding, nuestras campañas son virtuales, los
          stands físicos no usan flyers ni trípticos de papel, nuestros productos
          promocionales no están envueltos ni se transportan con derivados de papel.</li>
        <li>En el plano de gestión, desde la publicación de los procesos hasta la
          formación de informes no se usa papel, cuando alguno de nuestros
          representantes
          comparte información, usa tarjetas de presentación virtuales, así como
          también los membretes y los sellos de certificación.</li>
      </ul>
      <p>En todos los casos no permitimos el uso del papel para nuestras operaciones. Deseamos
        que en un futuro nuestros árboles no sean usados para tal propósito.</p>
      <ul>
        En Skepsi estamos también a favor del desarrollo del talento extraordinario, es por
        ello por lo que, en la medida en la que las leyes fiscales nos lo permiten, apoyamos
        a equipos nacionales representativos en olimpiadas donde las habilidades de
        pensamiento sean expuestas a sus mejores versiones, por esta razón, nosotros
        patrocinamos (y patrocinaremos mientras sea posible), equipos como:
        <li>Equipos nacionales (o estatales) de ajedrez para niños o adultos mayores</li>
        <li>Equipos olímpicos representativos de ciencias naturales y exactas tales como
          matemáticas, física o química</li>
        <li>Porque nuestros principios son filosóficos, también apoyamos a los equipos
          nacionales juveniles de las olimpiadas de filosofía</li><br>
          <p>Además, en cada caso, desarrollamos proyectos especiales de entrenamiento, a fin de que,
            paralelo a sus especialidades, usen las habilidades de pensamiento de Skepsi para proceder
            en un entorno complejo e integral.</p>
        <li>Nuestra data -estadística-, está a disposición de investigadores en el ramo de las
          neurociencias, ciencias de la educación, filosofía del pensamiento complejo,
          psicolingüísitica y otras ramas similares que así lo requieran</li>
      </ul>
      <p>Al entender que nuestra base es gnoseológica, nuestro posicionamiento no tiene porque
        ser único ni inamovible. El promover la discusión en torno al desarrollo de las habilidades
        de pensamiento, sus beneficios en pro de la salud cognitiva y sus retos le da sentido a Skepsi
        gimnasio del pensamiento.</p>
      <p>Lo único que necesitamos es que el investigador se ponga en contacto con nosotros
        para exponer su proyecto, el uso pretendido de datos y se le solicitará a cambio la mención
        de nuestro sistema.</p>
      <p>Skepsi no solicitará dinero a cambio de esa información ni tampoco exigirá notas
        favorables, esta es una muestra más de nuestro compromiso por favorecer la libertad del
        pensamiento.</p>
      <h2>A manera de conclusión, pero con la ilusión de hacer este código un documento más
        enriquecedor.</h2>
      <p>En Skepsi gimnasio del pensamiento nos ilusiona la idea de formar parte de la extraordinaria
        experiencia del ser humano integrado dentro de un entorno social complejo, nuestra idea,
        es que esta participación sea como promotores del desarrollo de distintas habilidades del
        pensamiento que promuevan de inicio la salud cognitiva.</p>
      <p>Pero además, consideramos que Skepsi gimnasio del pensamiento es un proyecto
        de largo alcance, que promueve la ejecución de buenos hábitos cognitivos que favorezcan
        tomas de decisiones más precisas, contextuales, emotivas, éticas y morales.</p>
      <p>Para que podamos alcanzar estas metas, necesitamos que nuestra organización
        promueva entre sus equipos de trabajo, distintas acciones que fortalezcan la congruencia
        de nuestros valores institucionales con la integración del pensamiento complejo.</p>
      <p>Esto requiere que desde el CEO y los directores de área tengan la responsabilidad
        de crear condiciones afines para que nuestros integrantes participen en la innovación, la
        simplicidad de nuestros procesos y que además estén convencidos de nuestros valores y
        principios.</p>
      <p>Además, en Skepsi debemos convencernos de que la escucha al cliente favorecerá
        no sólo la experiencia del desarrollo de habilidades del pensamiento, sino que también
        fortalecerá la sensación de una inversión acertada, que le permitirá comprender y actuar
        mejor en su entorno y que además será inhibidor de enfermedades mentales provocadas
        por la edad como lo son el Alzheimer.</p>
      <p>Este código se emite para que tanto nuestros colaboradores como usuarios, clientes,
        proveedores, académicos y público en general conozca nuestro posicionamiento y participe
        en la discusión, consideramos que este documento debe ser sólo el inicio de una base más
        enriquecedora, integral, inmanente y ecléctica que represente a las mejores prácticas
        cognitivas.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
