<div *ngIf="timerActivo">
  <audio id="initEjerAudio" #initEjerAudio src="..\assets\Audios\InicioFin\SonidoInicioEjercicio.mpeg"
    preload="auto"></audio>
  <audio id="finEjerAudio" #finEjerAudio src="..\assets\Audios\InicioFin\SonidoFinEjercicio.mpeg"
    preload="auto"></audio>
  <audio id="initRutAudio" #iniRutAudio src="..\assets\Audios\InicioFin\SonidoInicioRutina.mpeg" preload="auto"></audio>
  <h1>{{tTimer}}</h1>
</div>
<div class="principal">
  <div *ngIf="tiempoDescanso">
    <h1>Resultados:</h1>
    <h2>
      Tuviste {{ calificacionVista }} aciertos de {{ contadorEjer }}
    </h2>
    <h1>Descanso de 1 minuto</h1>
    <div>
      <h1>Preparate para la siguiente actividad</h1>
      <p>{{tTimerDescanso}}</p>
    </div>
  </div>
  <div *ngIf="!tiempoDescanso">
    <div *ngIf="!resultados">
      <div *ngIf="ejercActivo===1">
        <div *ngIf="rutina" style="width: 50%; margin: 0px auto">
          <h1>Ingresa el resultado de la operacion:</h1>
          <h1>
            {{ vistaOperacion.operacion }} =
          </h1>
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Resultado</mat-label>
              <input type="number" matInput [formControl]="resultOperacion" (change)="funcion1('')">
              <mat-hint></mat-hint>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>

    <div *ngIf="!tiempoDescanso">
      <div *ngIf="!resultados">
        <div *ngIf="ejercActivo===2">
          <div *ngIf="rutina" style="width: 50%; margin: 0px auto">
            <h1>Deposita las figuras en los espacios correctos:</h1>
            <div cdkDropListGroup>
              <div>
                <div class="example-container2">
                  <h2>Figuras irregulares</h2>

                  <div cdkDropList [cdkDropListData]="vistaAngulosFig" class="example-list2" [cdkDropListSortingDisabled]="true"
                    cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of vistaAngulosFig" cdkDrag><img
                        src="..\assets\img\FigurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="1000%">
                    </div>
                  </div>
                </div>
              </div>

              <div class="example-container">
                <h2>Numero Angulos:  {{listEspsFig[0]}}</h2>
                <div cdkDropList [cdkDropListData]="listaContenedores[0]" class="example-list" [cdkDropListSortingDisabled]="true"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of listaContenedores[0]" cdkDrag><img
                      src="..\assets\img\FigurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="100%"></div>
                </div>
              </div>
              <div class="example-container">
                <h2>Numero Angulos:  {{listEspsFig[1]}}</h2>
                <div cdkDropList [cdkDropListData]="listaContenedores[1]" class="example-list" [cdkDropListSortingDisabled]="true"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of listaContenedores[1]" cdkDrag><img
                      src="..\assets\img\FigurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="100%"></div>
                </div>
              </div>
              <div class="example-container">
                <h2>Numero Angulos:  {{listEspsFig[2]}}</h2>
                <div cdkDropList [cdkDropListData]="listaContenedores[2]" class="example-list" [cdkDropListSortingDisabled]="true"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of listaContenedores[2]" cdkDrag><img
                      src="..\assets\img\FigurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="100%"></div>
                </div>
              </div>
              <div class="example-container">
                <h2>Numero Angulos:  {{listEspsFig[3]}}</h2>
                <div cdkDropList [cdkDropListData]="listaContenedores[3]" class="example-list" [cdkDropListSortingDisabled]="true"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of listaContenedores[3]" cdkDrag><img
                      src="..\assets\img\FigurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="100%"></div>
                </div>
              </div>
              <div class="example-container">
                <h2>Numero Angulos:  {{listEspsFig[4]}}</h2>
                <div cdkDropList [cdkDropListData]="listaContenedores[4]" class="example-list" [cdkDropListSortingDisabled]="true"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of listaContenedores[4]" cdkDrag><img
                      src="..\assets\img\FigurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="100%"></div>
                </div>
              </div>
            </div>


            <button (click)="funcion2()" mat-raised-button class="ml-1" color="primary">
              Siguiente
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="!tiempoDescanso">
        <div *ngIf="!resultados">
          <div *ngIf="ejercActivo===3">
            <div *ngIf="rutina" style="width: auto; margin: 0px auto">
              <h1>Selecciona el simbolo correcto:</h1>
              <h1>
                <div class="fracciones">
                  <img src="..\assets\img\Dado(caras)\dado-0{{ duplaCarasDado[0] }}.png"
                    width="100px" height="100px" />
                </div>
                <mat-form-field>
                  <mat-label>Operador</mat-label>
                  <mat-select [(ngModel)]="operador" (selectionChange)="funcion3(operador.oper)" placeholder="">
                    <mat-option *ngFor="let operador of opcionesOper" [value]="operador">{{ operador.simbolo }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="fracciones">
                  <img src="..\assets\img\Dado(caras)\dado-0{{ duplaCarasDado[1] }}.png"
                    width="100px" height="100px" />
                </div>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="ejercActivo===4">
        <audio id="finRutAudio" #finRutAudio src="..\assets\Audios\InicioFin\SonidoFinRutina.mpeg" autoplay></audio>
        <h1>Resultados Generales:</h1>
        <h1>
          Ejericicio 1: {{ resultadoEjer[0].aciertos }} aciertos de
          {{ resultadoEjer[0].intentos }}
        </h1>
        <h1>
          Ejericicio 2: {{ resultadoEjer[1].aciertos }} aciertos de
          {{ resultadoEjer[1].intentos }}
        </h1>
        <h1>
          Ejericicio 3: {{ resultadoEjer[2].aciertos }} aciertos de
          {{ resultadoEjer[2].intentos }}
        </h1>
        <button (click)="reloadPage()" mat-raised-button class="ml-1" color="primary">
          Finalizar
        </button>
      </div>
    </div>
  </div>
</div>
