<div class="EMACO">
  <div class="skepsiLogo">
    <img src="../../../../../assets/img/skepsi/logo/SKEPSI_LOGO_05.png" (click)="regresar()" class="skepsiLogo">
  </div>
<div *ngIf="timerActivo">
  <audio id="initEjerAudio" #initEjerAudio src="..\assets\Audios\InicioFin\SonidoInicioEjercicio.mpeg"
    preload="auto"></audio>
  <audio id="finEjerAudio" #finEjerAudio src="..\assets\Audios\InicioFin\SonidoFinEjercicio.mpeg"
    preload="auto"></audio>
  <audio id="initRutAudio" #iniRutAudio src="..\assets\Audios\InicioFin\SonidoInicioRutina.mpeg" preload="auto"></audio>
  <h1>{{tTimer}}</h1>
</div>
<div class="general">
  <div *ngIf="instrucciones" class="instructions">

    <!-- BARRA DE PROGRESO INICIO -->
    <div class="row progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        [attr.aria-valuenow]="tTimerInstrucciones" [style.width]="(tTimerInstrucciones/tiempoSegundosInstrucciones)*100+'%'" aria-valuemin="0" aria-valuemax="20"
        style="margin:0px auto;">
      </div>
    </div>
    <!-- BARRA DE PROGRESO FIN -->

    <br>
    <div class="row">
      <p class="titulo">A continuación verás una serie de ejercicios. Tienes 1 minuto por ejercicio para responder todos los que puedas</p>
    </div>
  </div>
  <div *ngIf="!instrucciones">
    <div *ngIf="tiempoDescanso" class="row">
            <!-- BARRA DE PROGRESO Descanso -->
            <div class="row progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [attr.aria-valuenow]="tTimerDescanso" [style.width]="(tTimerDescanso/segundosDescanso)*100+'%'"
                aria-valuemin="0" aria-valuemax="20" style="margin:0px auto;">
              </div>
            </div>
            <!-- BARRA DE PROGRESO FIN -->
            <p class="titulo" style="margin:0px auto">Resultados:</p>
            <div class="row">
              <p class="titulo">
                Tuviste {{ calificacionVista }} aciertos de {{ contadorEjer }}
              </p>
            </div>
            <div class="row" *ngIf="tTimerDescanso<11">
              <p class="titulo">Preparate para la siguiente actividad</p>
            </div>
  </div>
  <div *ngIf="!tiempoDescanso">
    <div *ngIf="!resultados">
      <div *ngIf="ejercActivo===1">
        <div *ngIf="rutina" class="row">
          <!-- BARRA DE PROGRESO INICIO -->
          <div class="row progress" *ngIf="tTimer>0">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
              [attr.aria-valuenow]="tTimer" [style.width]="(tTimer/tiempoSegundosCrono)*100+'%'" aria-valuemin="0"
              aria-valuemax="20" style="margin:0px auto;">
            </div>
          </div>
          <!-- BARRA DE PROGRESO FIN -->
          <div class="row">
            <p class="titulo" style="margin:0px auto">
              Ingresa el resultado de la operacion:
            </p>
          </div>
          <div class="row" >
            <div class="col lead my-auto" align="right">

            {{ vistaOperacion.operacion }} =
        </div>

          <div class="col" align="left">
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Resultado</mat-label>
              <input type="number" matInput [formControl]="resultOperacion" (change)="funcion1('')">
              <mat-hint></mat-hint>
            </mat-form-field>
          </form>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!tiempoDescanso">
      <div *ngIf="!resultados">
        <div *ngIf="ejercActivo===2">
          <div *ngIf="rutina" class="row">
            <!-- BARRA DE PROGRESO INICIO -->
            <div class="row progress" *ngIf="tTimer>0">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [attr.aria-valuenow]="tTimer" [style.width]="(tTimer/tiempoSegundosCrono)*100+'%'" aria-valuemin="0"
                aria-valuemax="20" style="margin:0px auto;">
              </div>
            </div>
            <!-- BARRA DE PROGRESO FIN -->
            <div class="row">
              <p class="titulo" style="margin:0px auto">
                Deposita las figuras en los espacios correctos:
              </p>
            </div>
            <div cdkDropListGroup class="row">
              <div class="row">
                <div class="row example-container2 ">
                  <div class="row">
                  <h2>Figuras irregulares</h2>
                  </div>
                  <div class="row">
                  <div class="col">
                  <div cdkDropList [cdkDropListData]="vistaAngulosFig" class="example-list2" [cdkDropListSortingDisabled]="true"
                    cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of vistaAngulosFig" cdkDrag><img
                        src="..\assets\img\rutinas\LogicoMatematico\figurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="1000%">
                    </div>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
              <div class="col example-container ">
                <h2>Numero Angulos:  {{listEspsFig[0]}}</h2>
                <div cdkDropList [cdkDropListData]="listaContenedores[0]" class="example-list" [cdkDropListSortingDisabled]="true"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of listaContenedores[0]" cdkDrag><img
                      src="..\assets\img\rutinas\LogicoMatematico\figurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="100%"></div>
                </div>
              </div>
              <div class="col example-container">
                <h2>Numero Angulos:  {{listEspsFig[1]}}</h2>
                <div cdkDropList [cdkDropListData]="listaContenedores[1]" class="example-list" [cdkDropListSortingDisabled]="true"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of listaContenedores[1]" cdkDrag><img
                      src="..\assets\img\rutinas\LogicoMatematico\figurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="100%"></div>
                </div>
              </div>
              <div class="col example-container">
                <h2>Numero Angulos:  {{listEspsFig[2]}}</h2>
                <div cdkDropList [cdkDropListData]="listaContenedores[2]" class="example-list" [cdkDropListSortingDisabled]="true"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of listaContenedores[2]" cdkDrag><img
                      src="..\assets\img\rutinas\LogicoMatematico\figurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="100%"></div>
                </div>
              </div>
              <div class="col example-container">
                <h2>Numero Angulos:  {{listEspsFig[3]}}</h2>
                <div cdkDropList [cdkDropListData]="listaContenedores[3]" class="example-list" [cdkDropListSortingDisabled]="true"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of listaContenedores[3]" cdkDrag><img
                      src="..\assets\img\rutinas\LogicoMatematico\figurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="100%"></div>
                </div>
              </div>
              <div class="col example-container">
                <h2>Numero Angulos:  {{listEspsFig[4]}}</h2>
                <div cdkDropList [cdkDropListData]="listaContenedores[4]" class="example-list" [cdkDropListSortingDisabled]="true"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of listaContenedores[4]" cdkDrag><img
                      src="..\assets\img\rutinas\LogicoMatematico\figurasIrregulares\Figuras irregulares-{{item.imgFigIrregular}}.png" height="100%" width="100%"></div>
                </div>
              </div>
              </div>
            </div>

            <div class="row">
              <div class="col-2" style="margin:0px auto">
            <button (click)="funcion2()" mat-raised-button class="buttonSkepsi textoBoton">
              Siguiente
            </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!tiempoDescanso">
        <div *ngIf="!resultados">
          <div *ngIf="ejercActivo===3">
            <div *ngIf="rutina" class="row">
              <!-- BARRA DE PROGRESO INICIO -->
              <div class="row progress" *ngIf="tTimer>0">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  [attr.aria-valuenow]="tTimer" [style.width]="(tTimer/tiempoSegundosCrono)*100+'%'" aria-valuemin="0"
                  aria-valuemax="20" style="margin:0px auto;">
                </div>
              </div>
              <!-- BARRA DE PROGRESO FIN -->
              <div class="row">
                <p class="titulo" style="margin:0px auto">
                  Selecciona el simbolo correcto para los dados:
                </p>
              </div>
              <div class="row">
                <div class="col">
                  <img src="..\assets\img\rutinas\LogicoMatematico\Dado(caras)\dado-0{{ duplaCarasDado[0] }}.png"
                     />
                </div>
                <div class="col my-auto">
                <mat-form-field>
                  <mat-label>Operador</mat-label>
                  <mat-select [(ngModel)]="operador" (selectionChange)="funcion3(operador.oper)" placeholder="">
                    <mat-option *ngFor="let operador of opcionesOper" [value]="operador">{{ operador.simbolo }}</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
                <div class="col">
                  <img src="..\assets\img\rutinas\LogicoMatematico\Dado(caras)\dado-0{{ duplaCarasDado[1] }}.png"
                     />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="ejercActivo===4">
        <audio id="finRutAudio" #finRutAudio src="..\assets\Audios\InicioFin\SonidoFinRutina.mpeg" autoplay></audio>
        <div class="row">
          <p class="titulo" style="margin:0px auto">Resultados Generales:</p>
        </div>
        <div class="row">
          <div class="col">
            <h3>Ejericicio 1: {{ resultadoEjer[0].aciertos }} aciertos de {{ resultadoEjer[0].intentos }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3> Ejericicio 2: {{ resultadoEjer[1].aciertos }} aciertos de {{ resultadoEjer[1].intentos }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3> Ejericicio 3: {{ resultadoEjer[2].aciertos }} aciertos de {{ resultadoEjer[2].intentos }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-2" style="margin: 0px auto;">
            <button (click)="reloadPage()" mat-raised-button class="buttonSkepsi textoBoton">
              Continuar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
