<div class="AGNCO">
    <div class="skepsiLogo">
      <img src="../../../../../assets/img/skepsi/logo/SKEPSI_LOGO_05.png" class="skepsiLogo">
    </div>
    <div>
      <audio id="initEjerAudio" #initEjerAudio src="..\assets\Audios\InicioFin\SonidoInicioEjercicio.mpeg"
      preload="auto"></audio>
      <audio id="finEjerAudio" #finEjerAudio src="..\assets\Audios\InicioFin\SonidoFinEjercicio.mpeg"
        preload="auto"></audio>
      <audio id="initRutAudio" #iniRutAudio src="..\assets\Audios\InicioFin\SonidoInicioRutina.mpeg" preload="auto"></audio>
    </div>
    <div class="general">
      <!-- INSTRUCCIONES -->
      <div *ngIf="instruccionesDOM" class="instructions">
  
        <!-- BARRA DE PROGRESO INICIO -->
        <div class="row progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            [attr.aria-valuenow]="timeInstructions" [style.width]="(timeInstructions*10)+'%'" aria-valuemin="0" aria-valuemax="20"
            style="margin:0px auto;">
          </div>
        </div>
        <!-- BARRA DE PROGRESO FIN -->
  
        <br>
        <div class="row">
          <p class="titulo">A continuación aprenderás mucho sobre la anatomía de las aves y los mamíferos, presta mucha atención a las instrucciones</p>
        </div>
      </div>
  
      <div *ngIf="!instruccionesDOM">






        

        <div *ngIf="instruccionesAves">
            <!-- BARRA DE PROGRESO INICIO -->
            <div class="row progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [attr.aria-valuenow]="timeInstructions" [style.width]="(timeInstructions*10)+'%'" aria-valuemin="0" aria-valuemax="20"
                style="margin:0px auto;">
                </div>
            </div>
            <!-- BARRA DE PROGRESO FIN -->
            <br>
            <div class="row">
              <p class="titulo">{{avesInstruccion}}</p>
            </div>
        </div>
        <div *ngIf="explicacionAves">

        </div>
        <div *ngIf="ejercicioAves">

        </div>
        
        
        <div *ngIf="instruccionesMamiferos">
            <!-- BARRA DE PROGRESO INICIO -->
            <div class="row progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [attr.aria-valuenow]="timeInstructions" [style.width]="(timeInstructions*10)+'%'" aria-valuemin="0" aria-valuemax="20"
                style="margin:0px auto;">
                </div>
            </div>
            <!-- BARRA DE PROGRESO FIN -->
            <br>
            <div class="row">
            <p class="titulo">{{mamiferosInstruccion}}</p>
            </div>
        </div>
        <div *ngIf="explicacionMamiferos">

        </div>
        <div *ngIf="ejercicioMamiferos">

        </div>
        









        
        
      </div>
      <div *ngIf="resultadosDOM">
        <p class="titulo">Ejercicio terminado!</p>
        <p class="titulo"> Resultados:</p>
        <!-- <p class="titulo">Tuviste {{calificacionDOM}} aciertos de {{aciertosDOM}}</p> -->
        <button (click)="Inicializacion()" class="buttonSkepsi textoBoton" >Continuar</button>
      </div>
    </div>
  </div>
    