<div class="container">
  <div class="row" id="titulo" >
    <div class="col tituloCol">
      <p>GIMNASIO</p>
      <p>DEL PENSAMIENTO</p>
      <hr class="line">
    </div>
  </div>
  <div class="row" id="cuadroUno">
    <div class="row marco">
      <div class="col-6 textoMarco">
        <p>SKEPSI TE RETA Y TE <br> AYUDA A ENTENDER E <br> INTERPRETAR MEJOR <br><b>EL MUNDO</b>
      </div>
      <div class="col-6">
        <div class="imagenMujer"></div>
      </div>
    </div>
  </div>
  <div class="row" id="frasesUno">
    <div class="col-12">
      <p>EL POTENCIAL DE TU PENSAMIENTO</p>
    </div>
    <div class="col-12" id="todosLosPuntos">
      <svg xmlns="http://www.w3.org/2000/svg" id="punto1" width="20" height="20" fill="currentColor" class="bi bi-circle-fill puntos" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" id="punto2" width="20" height="20" fill="currentColor" class="bi bi-circle-fill puntos" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" id="punto3" width="20" height="20" fill="currentColor" class="bi bi-circle-fill puntos" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </div>
    <div class="col-12" id="frasesUnoA">
      <p>MEJORA EL DESEMPEÑO ESCOLAR <br> DE TUS HIJOS</p>
    </div>
  </div>
  <div class="row" id="imagenesUno">
    <div class="col pilares">
      <img id="imagenPilar" src="../../../../assets/img/skepsi/nosotros/SynaisthimataFondo.png">
      <div class="overlay sinais">
        <div class="row">
          <div class="col" id="iconOverlay" align="right">
            <img src="../../../../assets/img/skepsi/nosotros/synaisthimataIcono.png">
          </div>
        </div>
        <div class="row">
          <div class="col-3" id="pilarOverlay">
            SYNAISTHIMATA
          </div>
          <div class="col-9" id="textOverlay" align="right">
            <p>EMOCIONES Y AFECTOS</p>
            <p>El desarrollo de <br> habilidades cognitivas que <br> favorezcan el <br> entendimiento y uso <br> emotivo de los distintos <br> estados afectivos en los <br> que se ve sometido <br> el ser humano</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col pilares">
      <img id="imagenPilar" src="../../../../assets/img/skepsi/nosotros/mathimatikaFondo.png">
      <div class="overlay mati">
        <div class="row">
          <div class="col" id="iconOverlay" align="right">
            <img src="../../../../assets/img/skepsi/nosotros/mathimatikaIcono.png">
          </div>
        </div>
        <div class="row">
          <div class="col-3" id="pilarOverlay">
            MATHIMATIKA
          </div>
          <div class="col-9" id="textOverlay" align="right">
            <p>PENSAMIENTO LÓGICO MATEMÁTICO</p>
            <p>Aquellos procesos que <br> permiten desarrollar <br> capacidades asociadas al <br> pensamiento abstracto, <br> lógico, matemático y <br> espacial </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col pilares">
      <img id="imagenPilar" src="../../../../assets/img/skepsi/nosotros/glossaFondo.png">
      <div class="overlay glossa">
        <div class="row">
          <div class="col" id="iconOverlay" align="right">
            <img src="../../../../assets/img/skepsi/nosotros/glossaIcono.png">
          </div>
        </div>
        <div class="row">
          <div class="col-3" id="pilarOverlay">
            GLOSSA
          </div>
          <div class="col-9" id="textOverlay" align="right">
            <p>LENGUAJE Y COMUNICACIÓN</p>
            <p>Aquellos procesos <br> cognitivos donde el ser <br> humano establece <br> mecanismos de <br> comunicación en un <br> contexto de <br> interacción social</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col pilares">
      <img id="imagenPilar" src="../../../../assets/img/skepsi/nosotros/gnostikiFondo.png">
      <div class="overlay gnostiki">
        <div class="row">
          <div class="col" id="iconOverlay" align="right">
            <img src="../../../../assets/img/skepsi/nosotros/gnostikiIcono.png">
          </div>
        </div>
        <div class="row">
          <div class="col-3" id="pilarOverlay">
            GNOSTIKI
          </div>
          <div class="col-9" id="textOverlay" align="right">
            <p>DESARROLLO COGNITIVO</p>
            <p>Aquellos procesos en <br> donde el ser humano <br> adquiere habilidades <br> que le permiten <br> interpretar la realidad <br> e interactuar con ella </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="razonesParaCreer">
    <div class="col tituloCol" id="titulo">
      <p>RUTINAS QUE TE AYUDAN A DESARROLLAR TUS HABILIDADES DE PENSAMIENTO</p>
      <hr class="line" style="width:40%">
    </div>
  </div>
  <div class="row">
    <div class="col" id="ultimoTexto">
      <p>En Skepsi hacemos uso de principios filosóficos, neurocientíficos y de desarrollo cognitivo </p><br>
      <p>Creado por un equipo multidisciplinario y especializado en distintas ramas</p><br>
      <p>Trabajamos con pedagogía, psicolingÜistica, lógica, ciencias naturales y exactas, entre otras.</p>
    </div>
    <div class="col">
      <div class="ultimaImagen"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="contactanos">
        <div class="row">
          <div class="col">
            <p id="contactanos">CONTÁCTANOS</p>
            <p id="para">PARA MÁS</p>
            <p id="para">INFORMACIÓN</p>
          </div>
          <div class="col">
            <form [formGroup]="contactForm" (ngSubmit)="sendData(contactForm)">
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input type="text" matInput formControlName="nombre" maxlength="100" placeholder="Nombre" required>
                  <mat-error>El nombre es requerido</mat-error>
                </mat-form-field>
              </p>
              <p>
              <mat-form-field appearance="fill">
                <mat-label>Número de teléfono</mat-label>
                <input type="tel" matInput formControlName="telefono" maxlength="20" placeholder="Número de teléfono" required>
                <mat-error>El número de teléfono es requerido</mat-error>
              </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" maxlength="60" placeholder="Email" required>
                  <mat-error>El email es requerido</mat-error>
                </mat-form-field>
              </p>
              <p>
              <mat-form-field appearance="fill">
                <mat-label>Comentarios</mat-label>
                <textarea name="comentarios" matInput formControlName="comentarios" cols="10" rows="5" placeholder="Dinos cuáles son tus dudas y preguntas." required></textarea>
                <mat-error>Los comentarios son requeridos</mat-error>
              </mat-form-field>
              </p>
              <input type="submit" value="ENVIAR" [disabled]="!contactForm.valid">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <chatbot></chatbot>
</div>
<app-footer></app-footer>

