<div class="ESYCO">
  <div class="skepsiLogo">
    <img src="../../../../../assets/img/skepsi/logo/SKEPSI_LOGO_05.png" (click)="regresar()" class="skepsiLogo">
  </div>
  <div>
    <audio id="initRutAudio" #iniRutAudio src="..\assets\Audios\InicioFin\SonidoInicioRutina.mpeg" preload="auto"></audio>
  </div>
  <div class="general" id="content-container">

    <!-- Paso 1: Instrucciones -->
    <div *ngIf="currentStep == ESYCO1012Step.Instructions">
      <div class="row progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          [attr.aria-valuenow]="timeLeft" [style.width]="(timeLeft*10)+'%'" aria-valuemin="0" aria-valuemax="20"
          style="margin:0px auto;">
        </div>
      </div>
      <br>
      <div class="row">
        <p class="titulo">A continuación verás tres tablas. No es necesario que las memorices, sólo leelas y analízalas</p>
      </div>
    </div>

    <!-- Paso 2: Introducción -->
    <div *ngIf="currentStep == ESYCO1012Step.Introduction">
      <div class="row" align="left">
        <div class="col">
          <h2>Esta tabla representa las emociones básicas. Todos nacemos con ellas. Léela y pregunta al entrenador si tienes dudas acerca de lo que significan.</h2>
          <ul>
            <li *ngFor="let emocion of emocionesBasicas" style="font-size:16px"><p style="margin-bottom:8px">{{emocion}}</p></li>
          </ul>
        </div>
        <div class="col">
          <h2>Estas son las emociones secundarias. Desde que nacemos las desarrollamos. Revísalas y pregunta al entrenador si tienes dudas acerca de lo que significan.</h2>
          <ul>
            <li *ngFor="let emocion of emocionesSecundarias" style="font-size:16px"><p style="margin-bottom:8px">{{emocion}}</p></li>
          </ul>
        </div>
      </div>
      <div class="row" align="left">
        <div class="col">
          <h2>Estos son tipos de afectos individuales. Desde niños aprendemos que la emoción se refleja en un afecto; por ejemplo, la satisfacción puede reflejarse en empatía.</h2>
          <div class="row">
            <div class="col">
              <ul>
                <li *ngFor="let afeccion of afecciones1" style="font-size:16px"><p style="margin-bottom:8px">{{afeccion}}</p></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li *ngFor="let afeccion of afecciones2" style="font-size:16px"><p style="margin-bottom:8px">{{afeccion}}</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div style="display: flex; justify-content: center; margin-top: 30px;">
          <button style="width: 50%; max-width: 200px; min-width: 100px;" class="btn buttonSkepsi" (click)="nextStep()">Continuar</button>
        </div>
      </div>
    </div>

    <!-- Paso 3: Advertencia -->
    <div *ngIf="currentStep == ESYCO1012Step.Advertencia" class="full-parent-height">
      <div class="full-parent-height" style="display:flex; flex-direction:column; justify-content:center; align-items: center;">
        <h1>Esta actividad pone a prueba tu control de emociones. Puedes abandonarla si así lo deseas.</h1>
        <div class="row">
          <div style="display: flex; justify-content: center; margin-top: 15px; margin-bottom: 15px;">
            <button style="width: 50%; max-width: 200px; min-width: 100px;" class="btn buttonSkepsi" (click)="nextStep()">Continuar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Paso 4: Yoga -->
    <div *ngIf="currentStep == ESYCO1012Step.Yoga" class="full-parent-height">
      <div style="height: 60px;">
        <h1>¿Puedes controlar tus emociones? Vamos a realizar unos ejercicios de yoga para empezar.</h1>
      </div>
      <div style="height: calc(100% - 60px);">
        <div class="row full-parent-height">
          <div class="row full-parent-height">
            <div class="full-parent-height" style="display:inline; width:50px; padding: 0">
              <img width=30 height=30 src="../assets/img/skepsi/iconos/{{currentVolumeImage}}.png">
              <mat-slider vertical style="height:200px; max-height:100%;" [max]=1 [min]=0 [step]=0.01 [(ngModel)]="volume" (input)="onChangeVolume($event)"></mat-slider>
            </div>
            <div class="full-parent-height" style="display:inline; width: calc(100% - 100px); margin-top:15px">
              <div class="row full-parent-height" id="yoga-content">
                <div style="height: 50px">
                  <h2>{{poseIndex + 1}}. {{posturasDeYoga[poseIndex].description}}</h2>
                </div>
                <div style="height: calc(100% - 120px); max-width: 100%;">
                  <img style="height: 100%; max-width: 90%" src="{{posturasDeYoga[poseIndex].fileName}}">
                </div>
                <div style="height: 70px">
                  <div *ngIf="!yogaAudio.paused" style="display:inline-block">
                    <div *ngIf="poseIndex == 0; else leftEnabled" style="display:inline-block; padding: 1px 6px">
                      <img width=64 height=64 src="../assets/img/skepsi/iconos/LeftDisabled.png">
                    </div>
                    <ng-template #leftEnabled>
                      <button (click)="previousPose()" class="invisible-button">
                        <img width=64 height=64 src="../assets/img/skepsi/iconos/SKEPSI_ICONOS_WEB-42.png">
                      </button>
                    </ng-template>
                  </div>
                  <button (click)="togglePlayPause()" class="invisible-button">
                    <img width=64 height=64 src="../assets/img/skepsi/iconos/{{yogaAudio.paused ? 'Play' : 'Pause'}}.png">
                  </button>
                  <div *ngIf="!yogaAudio.paused" style="display:inline-block">
                    <button (click)="nextPose()" class="invisible-button">
                      <img width=64 height=64 src="../assets/img/skepsi/iconos/SKEPSI_ICONOS_WEB-44.png">
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="full-parent-height" style="display:inline; width:50px; padding: 0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Paso 5: Final -->
    <div *ngIf="currentStep == ESYCO1012Step.End" class="row full-parent-height">
      <div class="row" class="row full-parent-height" style="display: flex; justify-content:center; align-items:center; align-content: center;">
        <h1 style="font-weight: bold;">¡Felicidades! Has llegado al final de la rutina.</h1>
      </div>
    </div>
  </div>
</div>
