<div class="container">
  <div class="row">
    <div class="col">
      <p>REGISTRO COMPLEADO</p>
      <p>Te enviamos una liga de confirmación a tu correo, esto puede tardar unos minutos, y podría estar en la bandeja de SPAM o no deseados, da click en la liga una vez que la tengas para terminar con tu registro.</p>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col">
      <button class="btn botonLogin" routerLink="/login">Iniciar sesión</button>
    </div>
  </div>
  -->
</div>
