<div class="container" style="margin-bottom: 30px">
  <input type="button" value="Regresar" onclick="history.back()"><br>
  <div class="row">
    <div class="col">
      <h1>Términos y condiciones</h1>
      <p>En cumplimiento con lo dispuesto por la Ley Federal de Protección de Datos Personales en
        Posesión de los Particulares y la Ley Federal de Protección al Consumidor, Skepsi Gimnasio
        del Pensamiento, S.A. de C.V. (en adelante, SKEPSI), con domicilio en Calle Portoro,
        número 1, Colonia Lomas del Marmol, Puebla, Puebla, México, C.P. 72574, este acto
        proporciona los TÉRMINOS Y CONDICIONES (en adelante, los TÉRMINOS) a los
        cuales estará sujeta la relación jurídica existente entre SKEPSI y los USUARIOS de el
        SITIO (en adelante USUARIO o USUARIOS).</p>
      <p>Estos TÉRMINOS están destinados a regular el acceso a los SERVICIOS puestos a
        disposición del USUARIO a través del SITIO de SKEPSI (en adelante, el SITIO), a través
        del cual se realiza la administración, el establecimiento y la prestación de SERVICIOS por
        SKEPSI. El USUARIO entiende que SKEPSI es una empresa especializada en la prestación
        de SERVICIOS que consisten en el uso de un SITIO cuyo propósito es la operación y
        comercialización de aplicaciones, plataformas, páginas de internet y programas en línea de
        gimnasios cerebrales destinados al entrenamiento cerebral, habilidades cognitivas y
        habilidades del pensamiento.</p>
      <p>Estos TÉRMINOS están disponibles para su consulta por parte del USUARIO en cualquier
        momento en el SITIO. Además, este documento se aplicará e interpretará junto con el Aviso
        de Privacidad vigente, también disponible en el SITIO, a través del acceso en la página
        principal. Estos TERMINOS están sujetos a mejoras continuas y pueden modificarse en
        cualquier momento, siempre que no exista una prohibición legal a tal efecto. En
        consecuencia, se recomienda que el USUARIO acceda a estos TÉRMINOS de tiempo en
        tiempo y se asegure de haber verificado su versión más actual en función de la fecha indicada
        en el encabezado del presente documento.</p>
      <p>Si el USUARIO finalmente no está de acuerdo con algún cambio, debe abstenerse de usar
        el SITIO. Algunos SERVICIOS y contenidos disponibles en el SITIO pueden estar sujetos
        a TÉRMINOS de uso específicos, acuerdos, licencias, asignaciones y regulaciones. En caso
        de conflicto entre dichos instrumentos y este documento, prevalecerán las condiciones
        específicas. Cualquier pregunta, queja, sugerencia o comentario que el USUARIO tenga con
        respecto a estos TÉRMINOS puede enviarse por correo electrónico: ventas@skepsi.com.mx</p>
      <h2>I. ACEPTACIÓN DE LOS TÉRMINOS</h2>
      <p>El USUARIO debe leer, entender y aceptar todas las condiciones establecidas en los
        TÉRMINOS y el Aviso de Privacidad, establecidos en el SITIO, así como en los demás
        documentos incorporados a los mismos por referencia, previo a su inscripción como
        USUARIO de SKEPSI.</p>
      <p>Aceptar los TÉRMINOS, el acceso a el SITIO, así como su uso efectivo, implica la
        aceptación por parte del USUARIO de estos TÉRMINOS de uso y Aviso de privacidad,
        independientemente del registro a el SITIO mediante una CUENTA DE USUARIO. El
        usuario reconoce y acepta que, si accede o hiciera uso alguno del SITIO de SKEPSI, ello
        implicará la aceptación plena de las condiciones establecidas en el presente documento.</p>
      <p>Si no está de acuerdo con alguna de las disposiciones de estos TÉRMINOS, no deberá
        utilizar el SITIO para ningún fin, siendo su responsabilidad exclusiva verificar a detalle los
        mismos.</p>
      <p>En términos de lo dispuesto por el Código de Comercio en los artículos 80, 89, 90 bis, 91 y
        95, al tratarse de un servicio cuya contratación se realizará de forma electrónica, el
        consentimiento del USUARIO se perfeccionará desde que SKEPSI reciba la aceptación del
        USUARIO a través de cualquier medio electrónico.</p>
      <p>Cualquier persona que no acepte estos TÉRMINOS de SKEPSI, los cuales tienen un
        carácter obligatorio y vinculante, deberá abstenerse de utilizar el SITIO y/o los
        SERVICIOS, en caso de no aceptarlos, SKEPSI se reserva el derecho a no prestar los
        SERVICIOS dentro su APLICACIÓN. El uso de los SERVICIOS dentro de el SITIO de
        SKEPSI, constituye el consentimiento tácito a los TÉRMINOS de SKEPSI.</p>
      <h2>II. DEFINICIONES</h2>
      <p>Los términos que aparezcan con en letra mayúscula dentro del presente documento tendrán
        los siguientes significados:</p>
      <ul>
        <li>SITIO: Programa informático que le permite al USUARIO realizar la consulta de
          los contenidos y la realización de operaciones en el sistema donde se ejecuta, ya sea
          en computadores, tabletas o los teléfonos inteligentes, directamente a través de una
          interfaz web, etc, es decir, es el medio de acceso a los Servicios, tanto en plataforma
          móvil como en la plataforma web www.skepsi.com.mx.</li>
        <li>USUARIO, USUARIOS O CLIENTE: Se define como USUARIO, USUARIOS
          O CLIENTE para efectos de el SITIO: (i) la Persona física o moral que se encuentra
          vinculado con SKEPSI y ha solicitado su clave a través de los mecanismos dispuestos
          por SKEPSI para este fin (CUENTA DE USUARIO) y el cual podrá utilizar los
          contenidos de el SITIO, (ii) Toda persona física o moral que se encuentra vinculada
          o no con SKEPSI que podrá utilizar los contenidos de el SITIO sin claves de acceso
          a contenidos reservados a USUARIOS con CUENTA DE USUARIO y (iii) La
          persona física que en carácter de padre o tutor haya registrado a un menor y menores
          de edad para utilizar los contenidos de el SITIO</li>
        <li>CUENTA DE USUARIO: Las cuentas aperturadas en el SITIO de SKEPSI para
          cada USUARIO que tienen como finalidad almacenar la información personalizada
          de cada uno de ellos y que les permite acceder a los SERVICIOS de SKEPSI.</li>
        <li>CONTRASEÑA (NIP): Se define como contraseña para efectos de el SITIO, a la
          forma de autenticación secreta y única para el USUARIO con el fin de permitir su
          acceso a el SITIO.</li>
        <li>CHAT: Intercambio de mensajes electrónicos a través de internet que permite
          establecer una conversación entre dos o varias personas.</li>
        <li>DATOS PERSONALES: Cualquier información concerniente a una persona física
          identificada o identificable, tutelado bajo el Aviso de privacidad.</li>
        <li>SERVICIOS: Significa cualquier servicio proporcionado por SKEPSI entre los que
          se incluye el acceso y uso de aplicaciones, sitios web, recepción y gestión de pagos a
          través de terceros debidamente autorizados.</li>
        <li>TÉRMINOS Y CONDICIONES / TÉRMINOS: Los presentes TÉRMINOS Y
          CONDICIONES, que son publicados por SKEPSI y que estarán a disposición del
          USUARIO en todo momento a través de el SITIO de SKEPSI. Estos podrán
          actualizarse de tiempo en tiempo según lo establecido en el presente Contrato.</li>
      </ul>
      <h2>III. SERVICIOS OFRECIDOS EN EL SITIO</h2>
      <p>Los SERVICIOS ofrecidos dentro de el SITIO de SKEPSI consisten en rutinas cognitivas
        destinadas al entrenamiento cerebral, habilidades cognitivas y el desarrollos de habilidades
        del pensamiento. Con este fin, SKEPSI actúa en la planificación, mantenimiento y
        actualización de su SITIO, donde realiza la divulgación, administración y gestión de sus
        programas de entrenamiento cerebral, estando disponible para su acceso a través del sitio
        web www.skepsi.com.mx.</p>
      <p>El USUARIO reconoce que ciertas secciones y características de el SITIO solo se pueden
        usar y acceder al registrarse, momento en el cual el USUARIO debe proporcionar todos los
        datos solicitados por SKEPSI, de acuerdo con las disposiciones de nuestro Aviso de
        privacidad, el cual se encuentra en la página web www.skepsi.com.mx. En este sentido, el
        USUARIO reconoce que, al realizar el registro, debe proporcionar su número de teléfono o
        un correo electrónico, al que se vinculará su registro, y en este acto autoriza expresamente a
        SKEPSI o a quien éste determine a enviar mensajes a este número o correo para validar
        dicho registro.</p>
      <p>El USUARIO, reconoce que SKEPSI utilizará medios tales como, entre otros, mensajes de
        texto y mensajes de WhatsApp, correos electrónicos, para enviar información directamente
        relacionada con los intereses de los USUARIOS. Al aceptar estos TÉRMINOS, usted
        reconoce que es el único responsable de toda la información proporcionada al acceder a el
        SITIO, y es responsable, incluso ante terceros, de cualquier daño o pérdida que surja de la
        información incorrecta, incompleta o falsa. Estas comunicaciones son consideradas como
        parte del servicio de SKEPSI y no puede excluir la recepción de dichas comunicaciones. Por
        su parte, SKEPSI informa a los USUARIOS que cuenta con la capacidad, habilidad,
        experiencia, equipo, organización, recursos financieros y técnicos, competencia personal,
        conocimiento adecuado y calificado para prestar a los USUARIOS el mejor servicio.</p>
      <h2>IV. INFORMACIÓN DEL USUARIO</h2>
      <p>Se informa al USUARIO que la Ley Federal de Protección de Datos Personales en Posesión
        de Particulares, establece que el consentimiento del Titular sobre el tratamiento de los Datos
        Personales se entiende como tácito cuando habiéndose puesto a su disposición el Aviso de
        Privacidad, no manifieste oposición alguna. El Aviso de Privacidad correspondiente se pone
        a disposición del titular de los datos personales, a través de nuestro SITIO.</p>
      <p>Todos los Datos Personales serán administrados de conformidad con los principios de licitud,
        consentimiento, información, calidad, finalidad, lealtad y proporcionalidad contenidos en
        dicha ley.</p>
      <p>SKEPSI no utiliza la información de los USUARIOS para ninguna otra finalidad distinta a
        lo dispuesto en su Aviso de Privacidad por lo que SKEPSI se deslinda de cualquier
        responsabilidad presente o futura, que surja del uso no convenido de los Datos Personales.</p>
      <p>Para asegurar la seguridad de la información de los USUARIOS, SKEPSI resguarda y valida
        la información lo que permite un flujo seguro de información. El SITIO hace uso de cookies
        y web beacons.</p>
      <p>En caso de que el tratamiento de los datos personales sea limitado, modificado o cuestionado
        en terminos del Aviso de Privacidad, SKEPSI podrá suspender de inmediato y sin
        responsabilidad alguna el uso de dicha cuenta para fines de identificación y no tendrá
        obligación alguna de restaurar su uso ni tampoco restaurar resultados de entrenamiento
        anteriores en tanto no se dé solución a las cuestiones antes mencionadas.</p>
      <h2>V. CONFIDENCIALIDAD</h2>
      <p>El USUARIO reconoce expresamente la trascendencia de la confidencialidad para SKEPSI,
        por lo cual se compromete a no divulgar, copiar o retener por ningún motivo y en ninguna
        circunstancia cualquier elemento, o resultado derivado de la prestación de los SERVICIOS,
        por lo que dicha información será de carácter estrictamente confidencial y solo podrá ser
        utilizada en los términos detallados en el Aviso de Privacidad y/o en lo estipulado en los
        TÉRMINOS.</p>
      <h2>VI. REGLAS DE USO Y RESTRICCIONES DEL SITIO</h2>
      <p>Los SERVICIOS de SKEPSI tienen como finalidad el establecimiento y ejercicio de rutinas
        cognitivas destinadas al entrenamiento cerebral, habilidades cognitivas y el desarrollos de
        habilidades del pensamiento.</p>
      <p>El USUARIO debe usar los SERVICIOS de SKEPSI con intenciones legítimas y de
        acuerdo con las indicaciones de uso dictadas por SKEPSI y por la legislación mexicana
        aplicable, el cual se reserva a interpretar el uso aceptable de SERVICIOS de SKEPSI. Si se
        determina que existe un incumplimiento de cualquiera de estos TÉRMINOS Y
        CONDICIONES por parte del USUARIO, SKEPSI podrá suspender unilateralmente y sin
        responsabilidad alguna el acceso a los SERVICIOS de manera irrevocable, o por el periodo
        que considere adecuado.</p>
      <p>oda vez que los SERVICIOS prestados por SKEPSI, también contemplan programas de
        de entrenamiento para menores de edad, cuando sea el caso, los SERVICIOS se contratarán
        por conducto de su padre o tutor, debiendo de proporcionar todos los datos que le sean
        requeridos por SKEPSI para su registro. Fuera del supuesto anterior, los SERVICIOS de
        SKEPSI sólo están disponibles para aquellas personas que tengan capacidad legal para
        contratar. Por lo tanto, aquellos que no cumplan con dichas condiciones deberán abstenerse
        de suministrar información personal para ser incluida en las bases de datos de SKEPSI y/o
        acceder a los SERVICIOS de SKEPSI. SKEPSI no será responsable en ninguna
        circunstancia de verificar dicha calidad en los USUARIOS.</p>
      <p>Al momento de registrarse, SKEPSI asignará una CUENTA DE USUARIO al USUARIO
        para acceder al SITIO, de manera única e intransferible a terceros. Esta estrictamente
        prohibido que un USUARIO registre más de una cuenta. Queda entendido que el USUARIO
        al momento de crear una CUENTA DE USUARIO podrá registrar uno, dos o más personas
        las cuales quedarán facultadas para utilizar el SITIO en el entendido que lo utilizarán bajo
        la cuenta, autorización y amparo de dicho USUARIO. QUEDA TOTALMENTE
        PROHIBIDO QUE UNA PERSONA DISTINTA A LAS PERONAS REGISTRADAS
        POR EL EN LA CUENTA DE USUARIO UTILICEN LOS SERVICIOS DE SKEPSI.</p>
      <p>El USUARIO declara y garantiza, bajo protesta de decir verdad, que es mayor de edad y que
        cuenta con la capacidad jurídica necesaria para realizar las actividades que se contienen en
        la APLICACION, así como que toda la información y documentación que ha proporcionado
        y/o proporcione en relación con cualquier actividad que se promueva en el SITIO, es
        verdadera, completa y correcta, quedando, por ende, obligada a responder a SKEPSI por
        cualquier daño, perjuicio, demanda y/o acción que dicha omisión o falsedad le provoque.</p>
      <p>Igualmente, el USUARIO no puede publicar en el SITIO ningún contenido considerado
        ilegal o capaz de violar los derechos de terceros, no deberá insertar en el SITIO, por ningún
        medio, contenido o materiales capaces de incorporar virus u otros elementos que puedan
        impedir el funcionamiento normal de el SITIO, SKEPSI o equipos informáticos de terceros,
        así como también dañar documentos electrónicos y archivos almacenados en dicho equipo.</p>
      <p>El USUARIO es Responsable de sus credenciales de acceso y no deberá de compartir sus
        credenciales de acceso con terceros, siendo el único responsable de cualquier transacción,
        incluso financiera, realizada a través de su cuenta; SKEPSI se reserva el derecho de rechazar
        cualquier solicitud de registro y cancelar un registro previamente aceptado, a su exclusivo
        criterio y sin previo aviso, y sin compensación o remedio por la cancelación de cualquier
        registro o imposibilidad de registro. Al aceptar estos TÉRMINOS, el USUARIO reconoce
        que, en cualquier caso, es el único responsable del uso del SITIO, eximiendo a SKEPSI de
        cualquier responsabilidad por daños resultantes del mal uso del SITIO.</p>
      <h2>VII. DERECHOS DEL CLIENTE O USUARIO</h2>
      <p>El SITIO le confiere al USUARIO el derecho a su uso personal, de manera no exclusiva y
        no transferible.</p>
      <h2>OBLIGACIONES DEL CLIENTE O USUARIO</h2>
      <ul>
        <li>Usar debidamente los SERVICIOS y contenidos del SITIO.</li>
        <li>No permitir que terceras personas operen los SERVICIOS y contenidos del SITIO
          mediante el uso de la clave asignada y demás medios transaccionales.</li>
        <li>Cumplir con las condiciones y requisitos necesarios para realizar la operación de los
          programas de entrenamiento a través del SITIO tales como el correcto uso de la
          operación del sistema, suministrar completa la información en los formularios y
          solicitudes, evitar daños en los sistemas de transmisión de datos y evitar omisiones o
          acciones que perjudiquen el uso del SITIO y que estén por fuera del control de
          SKEPSI.</li>
        <li>Se obliga a validar la información de los pagos que realice a través de los
          SERVICIOS del SITIO, por lo tanto, será responsable por errores en las sumas
          pagadas, la obligación objeto de pago, la identificación, los números de cuentas
          afectados, etc.</li>
        <li>Adquirir y manejar los medios de comunicación necesarios para utilizar los
          SERVICIOS y contenidos del SITIO y disponer de los dispositivos físicos que le
          permitan recibir o transmitir vía Internet la información aquí contenida. El CLIENTE
          O USUARIO adquirirá y mantendrá a su propio costo y gasto todo el equipo y los
          medios de comunicación necesarios para utilizar el SITIO y SKEPSI no se hará
          responsable de la disponibilidad, ni de la confiabilidad de dicho equipo o de los
          medios de comunicaciones.</li>
        <li>Se obliga a acceder a el SITIO a través de un equipo seguro.</li>
        <li>Mantener actualizados los navegadores web, para un correcto funcionamiento y
          visualización de contenidos del SITIO.</li>
        <li>No dar a conocer a terceros su contraseña.</li>
        <li>Utilizar un lenguaje respetuoso, libre de contenido sexual, político, religioso, violento
          o que atente contra las buenas costumbres o la ley.</li>
        <li>Abstenerse de compartir contenidos que atenten contra la moral o las leyes vigentes.</li>
        <li>No compartir información comercial o de publicidad, así como links, spam, virus o
          vínculos a otras páginas que atenten contra el servicio.</li>
        <li>Cerrar la sesión una vez finalice la actividad que está realizando a través del SITIO.</li>
        <li>No podrá licenciar, vender, revender, re-licenciar, asignar, distribuir, anunciar,
          explotar o sacar provecho comercial alguno del SITIO, la marca, las herramientas o
          el servicio que provee.</li>
        <li>No podrá modificar o hacer trabajos basados en el software, partes del software o la
          marca del SITIO.</li>
        <li>No podrá hacer links, hacer espejos de los SERVICIOS del SITIO para prestar el
          servicio a terceros.</li>
        <li>No podrá hacer “reverse-engeneering” (desarmar el SITIO en sus componentes para
          entender su funcionamiento, así sea con fines académicos y/o no lucrativos).</li>
        <li>Se obliga a mantener actualizada el SITIO, para su correcto funcionamiento.</li>
        <li>El CLIENTE O USUARIO conoce y acepta que, con el ingreso de su contraseña,
          autoriza realizar las operaciones solicitadas.</li>
        <li>LA CONTRASEÑA con la cual CLIENTE O USUARIO ingresa y utiliza los
          SERVICIOS del SITIO son de uso personal por lo que El CLIENTE O USUARIO
          se obliga a mantenerla bajo absoluta reserva, a fin de que nadie más tenga acceso a
          los SERVICIOS ofrecidos. La contraseña se asignará según los procedimientos
          establecidos para este fin, el cual será informado por SKEPSI.</li>
      </ul>
      <h2>VIII. LICENCIAMIENTO</h2>
      <p>SKEPSI otorgará a EL CLIENTE O USUARIO el derecho de Uso, no exclusivo e
        intransferible, sobre el SITIO.</p>
      <p>SKEPSI mantendrá alojado el programa en la infraestructura que defina, para que de forma
        remota EL CLIENTE O USUARIO acceda a la versión actualizada que se mantendrá a su
        disposición en la nube, a través del ingreso a la página www.skepsi.com.mx. Los derechos
        del SITIO son reservados y de propiedad de SKEPSI, por lo tanto, el USUARIO se
        compromete a no usarla para obstaculizar o impedir el correcto funcionamiento del sistema.
        Está totalmente prohibida la venta, copia, alteración y/o distribución del software, sus partes,
        así como la marca, el nombre, el logo, y/o cualquiera de sus componentes que hace parte de
        la misma, a menos que exista autorización previa y expresa dada a un tercero por parte de
        SKEPSI. Los cuales están protegidos por leyes nacionales y tratados internacionales sobre
        la propiedad intelectual. Cualquier reproducción o redistribución está expresamente
        prohibida por la ley y puede conllevar sanciones civiles y penales.</p>
      <p>CUENTA DE USUARIOS. SKEPSI otorgará a EL CLIENTE O USUARIO, en caso de
        suscribirse al SITIO, una CUENTA DE USUARIO para que acceda a los SERVICIOS y/o
        programas de entrenamiento efectuados por SKEPSI.</p>
      <p>La contraseña será la asignada por el CLIENTE o USUARIO.</p>
      <p>En ningún caso SKEPSI, podrán modificar o utilizar dicha información, en el caso de la
        contraseña de acceso, ésta no se podrá visualizar en ningún escenario de desarrollo o
        producción.</p>
      <p>SKEPSI podrá adoptar todos los mecanismos adicionales que estime convenientes tales
        como contraseñas de acceso o diversos medios de verificación de identidad.</p>
      <h2>IX. LIMITACIONES EN EL USO DE EL SITIO</h2>
      <p>En ninguna circunstancia el CLIENTE O USUARIO podrá explotar derechos diferentes al
        simple uso del SITIO licenciada para beneficio propio. Por tanto, le estará expresamente
        prohibido copiar, comercializar, usufructuar, alquilar, arrendar, ceder, sub-licenciar o
        distribuir el SITIO, reversar su ingeniería, modificarlo, evolucionarlo, empalmarlo con otros
        programas o transformarlo y producir a partir de dichos empalmes o transformaciones obras
        derivadas susceptibles de registro, producir nuevas versiones, adaptarlo para ser usado en
        campos no previstos por el autor y, en general, cualquier otra forma que implique una
        violación a los derechos de propiedad intelectual de SKEPSI, cualquiera que sea el medio o
        forma utilizada.</p>
      <h2>X. ALCANCE AL USO DE EL SITIO</h2>
      <p>Los SERVICIOS y el uso del SITIO estarán sujetas a las siguientes condiciones.</p>
      <h2>XI. CONDICIONES OPERATIVAS DEL SITIO</h2>
      <p>El SITIO se encuentra diseñada para que el USUARIO realice rutinas cognitivas destinadas
        al entrenamiento cerebral, habilidades cognitivas y el desarrollos de habilidades del
        pensamiento. Las acciones autorizadas para cada uno, dependerá de su rol dentro del SITIO.</p>
      <p>La descripción de las secciones del SITIO se encontrará descrita en la misma.</p>
      <p>SKEPSI, será libre de determinar nuevas funcionalidades, formatos, procedimientos,
        condiciones y TÉRMINOS del SITIO, así mismo podrá modificar total o parcialmente o
        eliminar SERVICIOS y/o funcionalidades de ésta, sin previo aviso. SKEPSI podrá cambiar
        de SITIO por una de similares características.</p>
      <p>SKEPSI determinará libremente y sin responsabilidad alguna qué tipo de operaciones podrá
        realizar EL USUARIO a través del SITIO.</p>
      <p>SKEPSI, podrá divulgar información sobre sus productos, o de sus aliados dentro del SITIO,
        con el fin de realizar las ofertas que considere oportunas.</p>
      <h2>XII. CONSENTIMIENTO Y/O AUTORIZACIÓN DEL USUARIO PARA LA
        GRABACIÓN DE SESIONES.</h2>
      <p>Toda vez que dentro de los SERVICIOS ofrecidos dentro del SITIO de SKEPSI se
        encuentra el establecimiento de rutinas cognitivas a través de sesiones en linea bajo la
        modalidad de video llamada, desde este momento el USUARIO autoriza a SKEPSI, para
        grabar dichas sesiones con el único fin de sean utilizadas para el análisis y desarrollo de los
        programas de entrenamiento del USUARIO.</p>
      <h2>XIII. TARIFAS Y COSTOS</h2>
      <p>SKEPSI queda facultada para establecer y cobrar al USUARIO las tarifas que defina por
        concepto de la utilización del SITIO, lo cual se regirá por la normatividad vigente. Las tarifas
        y costos serán informadas al momento de la transacción.</p>
      <h2>XIV. OTRAS OBLIGACIONES, RESPONSABILIDADES Y EXENCIONES DE LAS
        PARTES</h2>
      <ul>
        <li>CUMPLIMIENTO DE LAS LEYES Y REGULACIONES. SKEPSI respeta y
          obedece todas las leyes y regulaciones aplicables a sus actividades y espera que todos
          sus USUARIOS hagan lo mismo. Sin embargo, SKEPSI no puede garantizar y no
          asume ninguna responsabilidad por el cumplimiento de sus USUARIOS con las leyes
          o regulaciones. Al usar el SITIO o los SERVICIOS de SKEPSI, Usted declara que
          conoce, comprende y acepta que es el único y totalmente responsable de cumplir con
          todas y cada una de las leyes, códigos y reglamentos, obligaciones legales y fiscales
          que puedan aplicarse a su uso del SITIO, SERVICIOS y Contenido, deslindando en
          este acto a SKEPSI, y obligándose el USUARIO expresamente en este acto a sacarlo
          en paz y a salvo de cualquier reclamación de cualquier naturaleza que pudiera derivar
          de un incumplimiento de las disposiciones antes mencionadas.</li>
        <li>ATRIBUCIÓN. No puede asignar, ceder o transferir estos TÉRMINOS por ley o
          de otra manera sin el consentimiento previo y por escrito de SKEPSI. Cualquier
          intento de asignar, ceder o transferir estos TÉRMINOS sin dicho consentimiento
          será nulo, sin embargo, SKEPSI puede asignar, ceder o transferir estos TÉRMINOS
          a su exclusivo criterio sin restricción alguna.</li>
        <li>DERECHOS DE AUTOR, INDUSTRIALES Y PROPIEDAD DEL SITIO. Los
          derechos de autor, industriales y la propiedad del SITIO, los diseños gráficos y los
          códigos fuente son propiedad exclusiva de SKEPSI y esta protegido por el derecho
          y los tratados internacionales, su copia y/o reproducción se encuentra prohibida. Los
          infractores están sujetos a las sanciones civiles y penales correspondientes, de
          conformidad con las Ley Federal de Derechos de Autor, la Ley Federal de Protección
          a la Propiedad Industrial y el Código Penal Federal. Las marcas comerciales, nombres
          comerciales o logotipos de cualquier tipo que se muestran a través del SITIO son
          propiedad de SKEPSI, por lo que el uso del SITIO no constituye una autorización
          para que el USUARIO cite dichas marcas, nombres comerciales o logotipos.</li>
        <li>SKEPSI no efectúa ninguna garantía de que los servicios cumplirán los requisitos de
          cada uno de ellos; que no serán ininterrumpidos, seguros, actualizados o libres de
          errores; que los resultados que se puedan obtener del uso de los SERVICIOS serán
          exactos o confiables; que la calidad de cualquier SERVICIO, información o
          cualquier otro material adquirido u obtenido a través de los SERVICIOS cumplirá
          sus expectativas; y que cualquier error será corregido.</li>
      </ul>
      <h2>XV. SANCIONES</h2>
      <p>El SITIO está disponible para el USUARIO indefinidamente. Sin embargo, SKEPSI puede
        interrumpir el SITIO en cualquier momento sin previo aviso al USUARIO y sin ninguna
        indemnización o responsabilidad debida a la misma. SKEPSI puede en cualquier momento
        limitar su acceso al SITIO y puede denegarlo o suspenderlo en caso de sospecha de mal uso
        o uso ilegal del SITIO, lo que puede provocar la eliminación de toda la información.
        proporcionado por él sin ninguna compensación o compensación a los mismos, incluyendo
        lasa estadísticas derivas de la ejecución de las rutinas.</p>
      <p>Se considera infracción:</p>
      <ul>
        <li>A todo el mal uso de los SERVICIOS prestados, así como todo material que a su
          exclusivo juicio pueda resultar abusivo, difamatorio, obsceno, fraudulento, artificioso
          o engañoso;</li>
          <li>Violaciones a derechos de propiedad intelectual e industrial, derechos de autor o
            derechos de propiedad de SKEPSI, que se infrinjan como consecuencia de la
            prestación de SERVICIOS por sí o por terceros a través nuestra SITIO.</li>
      </ul>
      <p>SKEPSI se reserva el derecho a denegar o retirar el acceso a los SERVICIOS, en cualquier
        momento y sin necesidad de previo aviso a aquellos USUARIOS que incumplan estos
        TÉRMINOS, sin perjuicio de las sanciones administrativas o penales determinadas por la
        autoridad correspondiente a las que haya lugar.</p>
      <h2>XVI. REGLAS DE SEGURIDAD</h2>
      <p>Los USUARIOS tienen prohibido violar o atentar contra la seguridad de los SERVICIOS,
        incluyendo, sin limitación:</p>
      <ul>
        <li>Acceder a datos que no sean previstos para ese USUARIO o ingresar a un servidor o
          cuenta en la cual el USUARIO no esté autorizado para acceder. Si el USUARIO
          tiene una contraseña que le permita acceso a un área no pública de nuestro SITIO,
          no podrá divulgar o compartir su contraseña con terceros o utilizar su contraseña para
          cualquier otro fin</li>
        <li>Atentar, explorar o probar la vulnerabilidad del sistema o de la red o tratar de traspasar
          la seguridad o las medidas de autenticación sin autorización previa;</li>
        <li>Atentar e interferir con el servicio de cualquier otro USUARIO, servidor o red, (host,
          network) a través del envío de un virus al SITIO, u otros actos como sobrecarga
          (overloading, flooding).</li>
      </ul>
        <p>La violación a estas disposiciones puede resultar en responsabilidad civil o penal, sin
          perjuicio de que SKEPSI investigue y coopere con las autoridades jurisdiccionales en los
          casos que puedan presentar dichas violaciones y en los procesos legales en contra de los
          USUARIOS que estén implicados en esas violaciones.</p>
<h2>XVII. EXCLUSIÓN DE GARANTÍAS DE USO</h2>
          <p>SKEPSI no garantiza que los SERVICIOS que presta se encuentren totalmente exentos de
            errores o que el SITIO y sus servidores puedan llegar a fallar e impedir el uso de los
            SERVICIOS, así como estar libre de virus informáticos u otros mecanismos que puedan
            afectar o generar cualquier tipo de daño el equipo de los USUARIOS.</p>
      <p>SKEPSI no será responsable por fuerza mayor, caso fortuito, causa extraña o hecho de un
        tercero y que en un momento puedan ocasionar perjuicios al USUARIO que imposibilite, el
        uso del SITIO.</p>
      <p>SKEPSI se reserva el derecho de dar oportuno mantenimiento a su servicio. No obstante,
        SKEPSI realizará todas las acciones razonablemente posibles para solucionar dichos
        problemas y contará con procedimientos para identificar, detener y remediar esas situaciones.</p>
      <h2>XVIII. TERMINACIÓN</h2>
        <p>SKEPSI puede rescindir estos TÉRMINOS, Cuentas de USUARIO o el acceso de los
          USUARIOS al SITIO y los SERVICIOS en cualquier momento sin previo aviso o
          consentimiento a su exclusivo criterio. Puede cancelar su cuenta de SKEPSI en el SITIO,
          siempre que no tenga obligaciones pendientes con respecto a SKEPSI.</p>
      <h2>XIX. MODIFICACIONES</h2>
      <p>SKEPSI podrá revisar estos TÉRMINOS Y CONDICIONES en cualquier momento y
        actualizar su contenido. Cualquier uso de los SERVICIOS se considerará como aceptación
        del USUARIO de los TÉRMINOS Y CONDICIONES aquí mostrados, por lo que deberá
        revisar estos TÉRMINOS Y CONDICIONES periódicamente para consultar su versión
        más reciente. Si en cualquier momento usted encuentra los TÉRMINOS Y
        CONDICIONES inaceptables, usted puede optar por prescindir del uso de los SERVICIOS
        de SKEPSI.</p>
        <h2>XX. DISPOSICIONES GENERALES</h2>
      <p>Todas las comunicaciones enviadas por el USUARIO a SKEPSI se considerarán totalmente
        válidas cuando se realicen por escrito y se envíen por correo electrónico a
        ventas@skepsi.com.mx. Además, las comunicaciones realizadas por SKEPSI al USUARIO
        se considerarán efectivas, a todos los efectos, cuando se realicen por cualquier medio de
        contacto, por escrito o de otra manera. Cualquier disposición o condición de este instrumento
        que, por cualquier motivo, se considere nula o ineficaz por cualquier tribunal, no afectará la
        validez de las demás disposiciones de estos TÉRMINOS, que seguirán siendo
        completamente válidos y vinculantes, en la mayor medida efectiva. El hecho de que SKEPSI
        no haga cumplir ningún derecho o disposición de estos TÉRMINOS no constituirá una
        renuncia y puede ejercer su derecho de forma regular dentro de los plazos legales. Estos
        TÉRMINOS pueden modificarse en cualquier momento, y la nueva versión de este
        documento entrará en vigencia el día después de su publicación en el SITIO.</p>
      <p>El USUARIO solo será notificado del cambio de los TÉRMINOS si existe una obligación
        legal de hacerlo.</p>
      <h2>XXI. JURISDICCIÓN Y CONTROVERSIAS.</h2>
        <p>Usted acepta defender, indemnizar y declarar exenta de responsabilidad a SKEPSI y sus
          agentes asociados, sus funcionarios, directores, empleados y agentes, frente a cualquier
          reclamación, acción judicial o demanda, incluido sin limitaciones los daños, costos legales y
          contables derivados o resultantes de cualquier controversia en conexión con su uso de los
          SERVICIOS de SKEPSI.</p>
      <p>Los presentes TÉRMINOS Y CONDICIONES estarán sujetos y serán interpretados de
        acuerdo con la legislación aplicable y ante los Tribunales de la Ciudad de Puebla, Puebla.</p>
      <h1>HE LEÍDO Y ACEPTO LOS PRESENTES TÉRMINOS Y CONDICIONES.</h1>
    </div>
  </div>
</div>

<app-footer></app-footer>
