  <!-- Site footer -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <h6>Sobre nosotros</h6>
          <p class="text-justify">En Skepsi gimnasio del pensamiento, generamos rutinas y planes de ejercicio mental que enriquecen el entrenamiento cotidiano de las distintas habilidades de pensamiento necesarias para que el individuo promueva la integración del pensamiento complejo en su actuar cotidiano, mediante el ejercicio de distintas rutinas intelectuales que favorezcan el desarrollo de sus habilidades cognitivas </p>
        </div>
        <div class="col" align="right">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a routerLink="/contacto">Contacto</a></li>
            <li><a routerLink="/nosotros">Nosotros</a></li>
            <li><a routerLink="/paquetes-skepsi">Paquetes</a></li>
            <li><a routerLink="/faq">Faq</a></li>
            <li><a routerLink="/codigo">Código de ética y manifiesto de marca</a></li>
            <li><a routerLink="/terminos">Términos y condiciones</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 Todos los derechos reservados.</p>
          <p>® Marca registrada</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook"  href="https://www.facebook.com/Skepsigym" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.instagram.com/skepsigym/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
