<div class="row">
  <div class="col-5 recuperar">
    <div class="row">
      <div class="col bienvenido">
        <p id="bienvenido">Introduce tu correo para recuperar tu contraseña</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input type="email" matInput [(ngModel)]="email" name="userName" required>
          <mat-error>El campo email es requerido</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="botonLogin" (click)="sendEmail()">Enviar</button>
      </div>
    </div>
  </div>
</div>
