<div class="EMARE">
  <div class="skepsiLogo">
    <img src="../../../../../assets/img/skepsi/logo/SKEPSI_LOGO_05.png" (click)="regresar()" class="skepsiLogo">
  </div>
  <div *ngIf="timerActivo">
    <audio id="initEjerAudio" #initEjerAudio src="..\assets\Audios\InicioFin\SonidoInicioEjercicio.mpeg"
      preload="auto"></audio>
    <audio id="finEjerAudio" #finEjerAudio src="..\assets\Audios\InicioFin\SonidoFinEjercicio.mpeg"
      preload="auto"></audio>
    <audio id="initRutAudio" #iniRutAudio src="..\assets\Audios\InicioFin\SonidoInicioRutina.mpeg"
      preload="auto"></audio>
  </div>
  <div class="general">
    <div *ngIf="instrucciones" class="instructions">

      <!-- BARRA DE PROGRESO INICIO -->
      <div class="row progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          [attr.aria-valuenow]="tTimerInstrucciones" [style.width]="(tTimerInstrucciones/tiempoSegundosInstrucciones)*100+'%'" aria-valuemin="0" aria-valuemax="20"
          style="margin:0px auto;">
        </div>
      </div>
      <!-- BARRA DE PROGRESO FIN -->

      <br>
      <div class="row">
        <p class="titulo">A continuación verás una serie de espacios en donde caben cuerpos geométricos, tienes dos minutos para memorizarlos</p>
      </div>
    </div>
    <div *ngIf="!instrucciones">
    <div *ngIf="tiempoDescanso" class="row">
      <!-- BARRA DE PROGRESO Descanso -->
      <div class="row progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          [attr.aria-valuenow]="tTimerDescanso" [style.width]="(tTimerDescanso/segundosDescanso)*100+'%'"
          aria-valuemin="0" aria-valuemax="20" style="margin:0px auto;">
        </div>
      </div>
      <!-- BARRA DE PROGRESO FIN -->
      <p class="titulo" style="margin:0px auto">Resultados:</p>
      <div class="row">
        <p class="titulo">
          Tuviste {{ calificacionVista }} aciertos de {{ contadorEjer }}
        </p>
      </div>
      <div class="row" *ngIf="tTimerDescanso<11">
        <p class="titulo">Preparate para la siguiente actividad</p>
      </div>
    </div>
    <div *ngIf="!tiempoDescanso">
      <div *ngIf="!resultados">
        <div *ngIf="ejercActivo===1">
          <div *ngIf="rutina" class="row">
            <!-- BARRA DE PROGRESO INICIO -->
            <div class="row progress" *ngIf="tTimer>0">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [attr.aria-valuenow]="tTimer" [style.width]="(tTimer/tiempoSegundosCrono)*100+'%'" aria-valuemin="0"
                aria-valuemax="20" style="margin:0px auto;">
              </div>
            </div>
            <!-- BARRA DE PROGRESO FIN -->
            <div class="row">
              <p class="titulo" style="margin:0px auto">
                Espacios a recordar:
              </p>
            </div>
            <div class="row">
              <div class="col" *ngFor="let espacio of listEspsFig; index as i">
                <img src="..\assets\img\rutinas\LogicoMatematico\espaciosFig\FigurasGeom-{{espacio}}.png" >
              </div>
            </div>
            <div class="row">
            <div class="col-2" style="margin:0px auto" *ngIf="!rutina">
              <button (click)="funcion1()" mat-raised-button class="buttonSkepsi textoBoton">
                Siguiente
              </button>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!tiempoDescanso">
        <div *ngIf="!resultados">
          <div *ngIf="ejercActivo===2">
            <div *ngIf="rutina" class="row">
              <!-- BARRA DE PROGRESO INICIO -->
              <div class="row progress" *ngIf="tTimer>0">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  [attr.aria-valuenow]="tTimer" [style.width]="(tTimer/tiempoSegundosCrono)*100+'%'" aria-valuemin="0"
                  aria-valuemax="20" style="margin:0px auto;">
                </div>
              </div>
              <!-- BARRA DE PROGRESO FIN -->
              <div class="row">
                <p class="titulo" style="margin:0px auto">
                  Selecciona las figuras correctas que corresponden a los espacios anteriores:
                </p>
              </div>
              <div class="row">
                <div class="col" *ngFor="let figura of listFigGeoRand; index as i">
                  <button mat-raised-button class="buttonSkepsi textoBoton" (click)="figSelection(i)"  [style.border]="figura.toggle ? '5px': '1px'" [style.background-color]="figura.toggle ? '#4ACFC6': 'white'">
                    <img
                        src="..\assets\img\rutinas\LogicoMatematico\figurasGeo\FigurasGeo-{{figura.imgFigGeo}}.png" >
                  </button>
                   </div>
              </div>
              <div class="col-2" style="margin:0px auto">
                <button (click)="funcion2()" mat-raised-button class="buttonSkepsi textoBoton">
                  Siguiente
                </button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!tiempoDescanso">
          <div *ngIf="!resultados">
            <div *ngIf="ejercActivo===3">
              <div *ngIf="rutina" class="row">
                <!-- BARRA DE PROGRESO INICIO -->
              <div class="row progress" *ngIf="tTimer>0">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  [attr.aria-valuenow]="tTimer" [style.width]="(tTimer/tiempoSegundosCrono)*100+'%'" aria-valuemin="0"
                  aria-valuemax="20" style="margin:0px auto;">
                </div>
              </div>
              <!-- BARRA DE PROGRESO FIN -->
                <div class="row">
                  <p class="titulo" style="margin:0px auto">
                    Selecciona el simbolo correcto para las Fracciones:
                  </p>
                </div>
                  <div class="row mt-4">
                  <div class="col-sm">
                    <img src="..\assets\img\rutinas\LogicoMatematico\figurasFracciones\1012AMACO-{{ duplaFracciones[0].imgFraccion }}.png"/>
                    <span class="caption">{{duplaFracciones[0].fraccion }}</span>
                  </div>
                  <div class="col">
                  <mat-form-field>
                    <mat-label>Operador</mat-label>
                    <mat-select [(ngModel)]="operador">
                      <mat-option *ngFor="let operador of opcionesOper" [value]="operador">{{ operador.simbolo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>
                  <div class="col-sm">
                    <img src="..\assets\img\rutinas\LogicoMatematico\figurasFracciones\1012AMACO-{{ duplaFracciones[1].imgFraccion }}.png"/>
                    <span class="caption">{{duplaFracciones[1].fraccion }}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2" style="margin:0px auto">
                    <button (click)="funcion3(operador.oper)" mat-raised-button class="buttonSkepsi textoBoton">
                      Siguiente
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="ejercActivo===4">
          <audio id="finRutAudio" #finRutAudio src="..\assets\Audios\InicioFin\SonidoFinRutina.mpeg" autoplay></audio>
          <div class="row">
            <p class="titulo" style="margin:0px auto">Resultados Generales:</p>
          </div>
          <div class="row">
            <div class="col">
              <h3> Ejericicio : {{ resultadoEjer[1].aciertos }} aciertos de {{ resultadoEjer[1].intentos }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="margin: 0px auto;">
              <button (click)="reloadPage()" mat-raised-button class="buttonSkepsi textoBoton">
                Continuar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
