<div class="container">
  <div class="row">
    <div class="col">
    <iframe
    src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fskepsi.com.mx%2F%23%2Fblog&layout=button&size=large&width=77&height=28&appId"
    width="77" height="28" style="border:none;overflow:hidden"
    scrolling="no" frameborder="0" allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </div>
  </div>
  <div class="row">
    <div class="col filaUno">
      <img src="../../../../assets/img/skepsi/blog/viejito.jpg" >
      <p class="tituloNota">Los diez 'pecados capitales' que cometes y hacen que pierdas la memoria, según los neurocientíficos </p>
      <br><p class="Fecha">17 julio, 2022 </p>
      <p class="Autor">Pablo García Santos</p>
      <div class="overlay" (click)="mostrarTexto(1)">
        <div class="text">
          <p>Noticia 1</p>
        </div>
      </div>
    </div>
    <div class="col filaUno">
      <img src="../../../../assets/img/skepsi/blog/mujer.jpg" >
      <p class="tituloNota">¿Por qué es importante enseñar operaciones combinadas a los niños?</p>
      <br><p class="Fecha">22 marzo, 2022</p>
      <p class="Autor">Alerta Chiapas</p>
      <div class="overlay" (click)="mostrarTexto(2)">
        <div class="text">
          <p>Noticia 2</p>
        </div>
      </div>
    </div>
    <div class="col filaUno">
      <img src="../../../../assets/img/skepsi/blog/familia.jpg" >
      <p class="tituloNota">¿Cómo ayudar a los niños a reconocer sentimientos? Hablemos de educación emocional</p>
      <br><p class="Fecha">01 julio, 2022</p>
      <p class="Autor"> Milenio Digital</p>
      <div class="overlay" (click)="mostrarTexto(3)">
        <div class="text">
          <p>Noticia 3</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="imagenUnoSeleccionada" [@inOutAnimation] class="col-11 textoArticulo">
      <div class="row">
        <div class="col contenedor">
          <img src="../../../../assets/img/skepsi/blog/viejito.jpg" class="imagenArticulo">
          <div class="content">
            <h1> Los diez 'pecados capitales' que cometes y hacen que pierdas la memoria, según los neurocientíficos </h1>
            <p>
              Una de las principales causas de las personas que son remitidas a los neurólogos por la pérdida de memoria es la depresión.            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br>
          <p>¿Recordar el número de teléfono de uno de los contactos que ya está guardado en el móvil? ¿La fecha de algún acontecimiento histórico? O, ¿el recorrido para llegar al próximo destino de las vacaciones de verano? Si se hiciera un estudio en España, quizás la mayoría, por no decir la totalidad de los encuestados, se negaría a recordar cualquier cuestión que ya es capaz de retener en su móvil o en el ordenador. Sin embargo, ponerle pequeños retos a la memoria sí que puede servir para evitar el deterioro de la memoria con el envejecimiento.</p>
          <p>Así lo asegura el neurocientífico Richard Restak en su último libro, La guía completa de la memoria, donde ofrece ejercicios que ayudan a superar los problemas cotidianos de la memoria. Por ejemplo, "una buena forma de prestar atención cuando se aprende información nueva, como un nombre, es visualizar la palabra", aseguró Restak en declaraciones a The New York Times.</p>
          <p>La neuróloga Teresa Moreno, portavoz de la Sociedad Española de Neurología (SEN), coincide con las palabras de su colega de profesión. "Cualquier ejercicio que nos mantenga activa la mente viene muy bien", comenta en declaraciones a EL ESPAÑOL. Aunque advierte que no se trata de hacer, por ejemplo, ecuaciones dificilísimas. De hecho, recomienda a sus pacientes que se compren "los libros para niños en los que tienes que buscar las diferencias".</p>
          <p>Moreno también destaca la lectura como un buen hábito para retrasar la aparición de los síntomas de la pérdida de memoria. En este sentido, Restak apunta a una sección concreta de las librerías: "La gente, cuando tiene dificultades de memoria, cambia a la lectura de no ficción. Pero la ficción requiere un compromiso más activo con el texto". </p>
          <b>Los diez pecados capitales</b>
          <p>Los neurólogos se muestran reticentes a vaticinar el efecto que tendrá el uso constante de los móviles en nuestra memoria: "Todavía no hay estudios al respecto. Pero no es que sea mejor ni peor", ha apuntado Moreno a este periódico. Y es que, según Restak, "algunos fallos de memoria son en realidad problemas de atención". Es por esto que aconseja que si vamos al supermercado, tratar de memorizar la lista de la compra. O cuando nos dirijamos a un nuevo destino, que seamos capaces de alcanzarlo sin encender el GPS del coche. </p>
          <p>Descansar bien influye en el rendimiento de nuestro día a día. Si bien la apnea del sueño duplica el riesgo de accidente, también afecta a nuestro nivel cognitivo. "Simplemente con corregir los problemas de sueño mejoramos un porcentaje muy importante de las demencias", advierte la portavoz de la SEN.</p>
          <p>Pero no todo iba a ser ponerse a prueba nuestra mente. Así, el especialista en memoria Daniel L. Schacter enumeró los siete ‘pecados capitales’ que cometemos y nos conducen a la pérdida de memoria. Los más comunes se encuentran en el despiste (pecados de omisión) y en la distorsión de los recuerdos (pecados de comisión). A estos siete pecados el neurólogo Richard Restak les ha añadido otros tres, que guardan mucha relación con la sociedad actual. Dos de ellos se deben al uso constante de las tecnologías, las cuales nos provocan la distorsión y la distracción tecnológica.</p>
          <p>Sin embargo, el tercer pecado sí que puede sorprender a muchos, pues afecta al 40% de la población española según un estudio elaborado por AXA. De las personas que son remitidas a los neurólogos por problemas de memoria, "una de las principales causas es la depresión", afirma Restak. En este aspecto, la neuróloga Moreno confiesa que ellos la llaman la "pseudodemencia", ya que es una de las pocas demencias que es curable: "Cuando una persona está deprimida, padece casi los mismos síntomas del Alzheimer porque no se le han muerto las neuronas, pero sí que no sabe controlarlas".</p>
          <p>Aunque se trate de la "fase final" de la pérdida de memoria, la demencia afecta a nivel mundial a unos 50 millones de personas, según la Organización Mundial de la Salud (OMS). De hecho, Moreno la llega a catalogar como "una auténtica epidemia", pese a ser consciente del pánico que genera en la sociedad esta palabra a día de hoy.</p>
        </div>
      </div>
    </div>
    <div *ngIf="imagenDosSeleccionada" [@inOutAnimation] class="col-11 textoArticulo">
      <div class="row">
        <div class="col contenedor">
          <img src="../../../../assets/img/skepsi/blog/mujer.jpg" class="imagenArticulo">
          <div class="content">
            <h1> ¿Por qué es importante enseñar operaciones combinadas a los niños? </h1>
            <p>Las operaciones combinadas constan de diversos ejercicios matemáticos agrupados de diferentes maneras que señalan la prioridad de ejecución. Una vez que los niños son capaces de resolver operaciones simples, la enseñanza va por el aumento de la complejidad.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br>
          <p>El incremento del esfuerzo y aprendizajes para resolver este tipo de operaciones más complejas no solo responde a un proyecto curricular. Es notable la importancia de enseñar este tipo de ejercicios a los niños desde el momento en que son capaces de resolverlos.</p>
          <b>Manejo de varios conceptos a la vez</b>
          <p>Una vez que los niños logran dominar el razonamiento y asimilación de conceptos, es importante ir por el dominio de los mismos. Esto se vuelve evidente cuando son capaces de vincular varias informaciones, como es el caso de los cálculos combinados.</p>
          <p>Al poner en juego varios ejercicios a la vez, se ejercita de forma práctica lo aprendido. En esto, no solo se involucran las operaciones simples, sino también las formas de agrupación y las jerarquías que determinan el orden de resolución.</p>
          <b>Desarrollo del pensamiento lógico</b>
          <p>Durante los primeros años de escolaridad, es fundamental incentivar el desarrollo del pensamiento lógico en los niños. De esa manera, desarrollan aptitudes para el razonamiento deductivo y la comprensión y vinculación de conceptos.</p>
          <p>Este tipo de aprendizajes se resuelve, por lo general, en la escuela, con profesionales adecuados. Sin embargo, siempre podemos apoyar el aprendizaje en casa, sumando herramientas como la sección de matemáticas para niños con Tutorela, una plataforma de estudio en línea.</p>
          <b>Capacidad de abstracción</b>
          <p>Este es quizás el mayor desafío de las matemáticas desde sus comienzos, ya que el paso del pensamiento práctico al abstracto es un momento clave en el desarrollo intelectual. Sin embargo, se logra de manera paulatina, empezando por ejercicios de menor dificultad.</p>
          <p>En la práctica de operaciones combinadas, por su parte, la capacidad de abstracción se pone en práctica a un nivel más completo. Además de la interpretación de signos, el niño es capaz de vincular conceptos más amplios que le permitirán desarrollar un pensamiento complejo.</p>
          <b>Aplicación de metodología</b>
          <p>Otro beneficio de la enseñanza de operaciones combinadas a los niños es el enriquecimiento de su capacidad de aplicación metodológica. A diferencia de las prácticas curriculares iniciales, en el desarrollo de estos cálculos, los alumnos ganan independencia.</p>
          <p>Si bien la práctica es guiada por los docentes, en esta etapa de razonamiento los niños incorporan y reorganizan sus protocolos de estudio. Lo mismo ocurre con el desglose de los ejercicios.</p>
          <b>Seguridad</b>
          <p>La resolución de operaciones combinadas es, a fin de cuentas, un gran desafío para cualquier niño en etapa de aprendizaje. Sin embargo, esto lo vuelve un reto que acarrea un gran beneficio: la seguridad.</p>
          <p>Al resolver ejercicios tan complejos a partir de la aplicación metodológica y pensamiento lógico, el niño gana confianza en sí mismo. Esto se traduce en una lección de vida, ya que comprende que es cuestión de tiempo y esfuerzo lograr un cometido difícil. </p>
        </div>
      </div>
    </div>
    <div *ngIf="imagenTresSeleccionada" [@inOutAnimation] class="col-11 textoArticulo">
      <div class="row">
        <div class="col contenedor">
          <img src="../../../../assets/img/skepsi/blog/familia.jpg" class="imagenArticulo">
          <div class="content">
            <h1>¿Cómo ayudar a los niños a reconocer sentimientos? Hablemos de educación emocional</h1>
            <p>Especialistas indican que es necesario que los padres trabajen primero en sí mismos, ya que son la base y es importante que expresen sus emociones.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
        <br>
        <p>La intensidad en que se manifiestan las emociones en los niños y adolescentes es personal, reconocerlas y saber cómo manejar lo que sienten ayudará a su salud mental y con ello, a que tengan un desarrollo pleno. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>Alegría, tristeza, enojo, frustración, llegan a ser sentimientos que no logran explicar o entender, pero es entonces cuando los padres de familia o tutores deben de acompañar y guiar a los niños o adolescentes a identificarlas y expresarlas. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>Xóchitl Robles García, psicoterapeuta Gestalt infantil y adolescente, explica que un niño no es capaz de reflexionar sobre sus conductas, por lo que como padres o tutores se les debe ayudar a manifestar lo que están sintiendo y así tener una forma correcta de expresarla. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>Las emociones no son buenas ni malas, es lo que sentimos y son necesarias para la vida, pero al aprender a identificarlas se podrán regular de forma correcta. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>Según la Unesco, desarrollar en las personas habilidades de aprendizaje socioemocional ayuda a que las situaciones estresantes se aborden con calma y con respuestas emocionales equilibradas. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>Además, estas competencias permiten fortalecer el pensamiento crítico para tomar decisiones mejor informadas en la vida. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>"Hace dos años vivimos una pandemia en la que hubo niños que se quedaron en casa y vivieron un tipo de duelo, no solo en la pérdida de un ser querido, sino también en la pérdida de los juegos, las salidas al parque, de la convivencia con los amigos y todo esto desató una cuestión emocional en la actualidad, en la que la parte de las emociones no saben cómo canalizarlas", dijo Robles García. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>Explica que los niños y adolescentes desconocen cómo adquirir herramientas que les permitan afrontar situaciones de la vida diaria. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>"Hoy en día la salud mental es fundamental en el crecimiento de los niños para que logren desarrollar su potencial completamente, en la actualidad se está llegando a unas enfermedades o crisis como ansiedad, frustración, estrés o temores. Los padres de familia o tutores somos responsables de manifestar ese tipo de educación emocional desde casa, necesitamos primero trabajar en nosotros, somos la base, somos el ejemplo y es importante que expresemos nuestras emociones de una manera adecuada, no negarla, no reprimirla, es expresarla de forma sana al nivel del niño o el adolescente", recordó. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>La especialista recomienda que se hable y se les diga estoy triste, contento o enojado porque sucedió esto, hay que manifestarla para que el niño tenga empatía con papá o mamá y así como ellos tienen la confianza, también la tenga el pequeño o el adolescente en compartir su sentir. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>"Mientras que en las instituciones de educación es importante incluir la educación emocional en el salón de clases, espacio en el que existen hábitos donde el maestro manifiesta la confianza en el alumno para que se sienta escuchado y a la vez, también apoyado por el profesor", recalcó. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>Xóchitl Gálvez, quien forma parte del Centro Psicológico Armonía con atención a niños y adolescentes, así como del Centro Mi Ser en la que atiende a familias y parejas, ambos ubicados en la colonia Ampliación Los Ángeles en Torreón, sugiere que se creen actividades físicas y mentales de 20 minutos durante la jornada escolar en la que se aprenda a respirar o a reconocer la emoción tal, además de establecer rutinas en las que se contemplen diferentes actividades de interés en los niños y adolescentes. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        <p>"Estamos en una época en la que todos necesitamos acudir a terapia, talleres, prácticas o conferencias que ayuden en la salud emocional", concluyó. https://www.milenio.com/aula/educacion-emocional-ayudar-ninos-reconocer-sentimientos</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
