<div class="container" style="background-color: white">
  <form #institutionForm="ngForm" class="formulario">
  <div class="row">
    <div class="col">
      <div class="encabezado">
        <p>Creación de instituciones</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <mat-form-field appearance="legacy" style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;" >
        <mat-label>Nombre</mat-label>
        <input type="text" matInput [(ngModel)]="institution.name" name="institucion" required>
        <mat-error>El campo Nombre es requerido</mat-error>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="legacy" style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;" >
        <mat-label>Abreviatura</mat-label>
        <input type="text" matInput [(ngModel)]="institution.shortName" name="institucionAb" placeholder="Máximo 5 letras" style="text-transform: uppercase" maxlength="5" required>
        <mat-error>El campo Abreviatura es requerido</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: center;">
      <button mat-raised-button class="btn buttonCreate" (click)="add()">Crear</button>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col">
      <div class="encabezado">
        <p>Busqueda de rutinas</p>
        <hr>
      </div>
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-form-field appearance="standard">
            <mat-label style="padding:10px">Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Rutina"#input>
          </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" matSort style="width:100%">
          <ng-container matColumnDef="shortName">
            <th mat-header-cell *matHeaderCellDef> Iniciales </th>
            <td mat-cell *matCellDef="let row"> {{row.shortName}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> Editar </th>
            <td mat-cell *matCellDef="let row">
              <button mat-button (click)="update(row.id, row.name, row.shortName)"  data-toggle="modal" data-target="#example" style="margin-left:20px">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let row">
              <button mat-button (click)="delete(row.id)" data-toggle="modal" data-target="#exampleModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Escribe algo en la barra de busqueda</td>
          </tr>
        </table>
      </div>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  </form>
</div>

      <!-- Delete Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar la institución</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Seguro que deseas eliminar la institución?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn buttonCreate" (click)="deleteConfirmation()" data-dismiss="modal">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Update Modal -->
      <div class="modal fade" id="example" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Actualizar la institución</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #institutionUpdate="ngForm">
                <mat-form-field appearance="legacy" style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;" >
                  <mat-label>Nombre</mat-label>
                  <input type="text" matInput [(ngModel)]="institutionToUpdate.name" name="institucion">
                  <mat-error>El campo Nombre es requerido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="legacy" style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;" >
                  <mat-label>Abreviatura</mat-label>
                  <input type="text" matInput [(ngModel)]="institutionToUpdate.shortName" name="institucionAb" placeholder="Máximo 5 letras" style="text-transform: uppercase" maxlength="5">
                  <mat-error>El campo Abreviatura es requerido</mat-error>
                </mat-form-field>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn buttonCreate" (click)="updateConfirm()" data-dismiss="modal">Guardar</button>
            </div>
          </div>
        </div>
      </div>
