<div class="container formulario" style="background-color: white">
  <form #holidayForm="ngForm">
    <div class="row">
      <div class="col">
        <h1>Creación de fecha festiva</h1>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre de la fecha festiva</mat-label>
          <input type="text" matInput [(ngModel)]="holidays.name" name="nombre" required>
          <mat-error>El Nombre de la fecha festiva es requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" class="example-form-field">
          <mat-label>Fecha</mat-label>
          <input matInput  [matDatepicker]="datepicker" [(ngModel)]="holidays.date" name="fechaNacimiento" required>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>Aceptar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
      <button mat-raised-button class="btn buttonSkepsi" (click)="createHoliday()">Registrar</button>
    </div>
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let holiday of allHolidays">
                <td  scope="row">{{holiday.name}}</td>
                <td>{{holiday.date | date:'dd / MMMM / yyyy':'+0200':'es'}}</td>
                <td>
                  <button mat-button (click)="deleteRoutine(holiday.id)" data-toggle="modal" data-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar fecha festiva</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Seguro que deseas eliminar la fecha festiva?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn buttonSkepsi" (click)="deleteConfirmation()" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>
