<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="carouselDiv mb-4">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner" style="height:440px">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../../../assets/img/skepsi/inicio/ninio2.jpg" alt="Primera imagen">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="
              ../../../../assets/img/skepsi/inicio/young-boy-playing-on-laptop.jpg" alt="Segunda imagen">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../../assets/img/skepsi/inicio/elegant-old-couple-sitting-at-home-and-using-laptop.jpg" alt="Tercera imagen">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../../assets/img/skepsi/inicio/ninias.png" alt="Cuarta imagen">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../../assets/img/skepsi/inicio/grandmother-tutoring-grandson-virtual-classroom-technology-remixed-media.jpg" alt="Quinta imagen">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row iconsSkepsi">
    <div class="col icons-left">
      <a href="https://www.facebook.com/Skepsigym" class="fa fa-facebook" target="_blank"></a>
      <a href="https://www.instagram.com/skepsigym/" class="fa fa-instagram" target="_blank"></a>
    </div>
    <div class="col icons-right" align="right">
      <a href="" >
        <img src="../../../../assets/img/skepsi/iconos/SKEPSI_ICONOS_WEB-38.png" class="iconPerson">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mensajeUno">
        <p class="piensa">SOMOS ESPECIALISTAS EN TEORIA DEL CONOCIMIENTO</p>
      </div>
    </div>
  </div>

  <div class="row" id="frasesUno">
    <div class="col" id="todosLosPuntos">
      <svg xmlns="http://www.w3.org/2000/svg" id="punto1" width="20" height="20" fill="currentColor" class="bi bi-circle-fill puntos" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" id="punto2" width="20" height="20" fill="currentColor" class="bi bi-circle-fill puntos" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" id="punto3" width="20" height="20" fill="currentColor" class="bi bi-circle-fill puntos" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="te">
        <p>"TE ACOMPAÑAMOS <br>
        E IMPULSAMOS A <br>
        DESCUBRIR TU <br>
        POTENCIAL <br>
        INTELECTUAL <br>
        Y EMOCIONAL"</p>
      </div>
    </div>
    <div class="col-6 colninia">
      <div class="ninia"></div>
    </div>
  </div>


  <div class="row" id="brainContainer">
    <div class="col">
      <div class="mensajeUno">
        <p class="piensa">PARA MANTENER UNA SALUD INTEGRAL, DEBES MANTENER EN FORMA TU CUERPO Y MENTE</p>
        <hr style="border: 5px solid #F5D14C; width:60%; margin:0px auto; opacity:1">
        <ul class="brainContainerList">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
            Ejercita tu cerebro, para dar lo mejor de tí día a día.</li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
            Desarrolla tus habilidades intelectuales complejas.</li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-star-fill" viewBox="0 0 16 16">
              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
            Mejora la calidad en la toma de decisiones.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" id="skepsiBlueIcon">
    <div class="col">
      <p>CONFIAMOS EN LA CAPACIDAD INTELECTUAL Y AFECTUOSA DEL SER HUMANO</p>
    </div>
  </div>

  <div class="row estamos">
    <div class="col niniosJugando">
    </div>
    <div class="col">
        <p>SOMOS LOS QUE TE AYUDARÁN A <b style="color: #EECA44">ELEVAR</b>, <b style="color: #EECA44">MEJORAR</b> Y <b style="color: #EECA44">POTENCIAR</b> TU MENTE</p>
    </div>
  </div>

  <div class="row">
    <div class="col piensa distinto">
      <p>"PIENSA DISTINTO,</p>
      <p>EJERCITA TU MENTE"</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div  routerLink="/faq" class="d-flex justify-content-center paraConocernos">
        <p>PARA CONOCERNOS MEJOR</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
