<div class="container">
  <form #studentDetailsForm="ngForm">
    
    <div class="row" id="registroPadre">
      <div class="col">
        <div class="encabezado">
          <p>Datos del padre o tutor</p>
          <hr>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="legacy" style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;" >
              <mat-label>Nombre del padre o tutor</mat-label>
              <input type="text" matInput [(ngModel)]="student.student.relative.firstName" name="padreTutor" maxlength="60" required>
              <mat-error>El campo es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy" style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;">
              <mat-label>Apellido del padre o tutor</mat-label>
              <input type="text" matInput [(ngModel)]="student.student.relative.lastName" name="apellidoTutor" maxlength="60" required>
              <mat-error>El campo es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="legacy" style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;">
              <mat-label>Teléfono del padre o tutor</mat-label>
              <input type="text" matInput placeholder="Telefono" [(ngModel)]="student.student.relative.phoneNumber" maxlength="20" name="telefonoEmergencia" required>
              <mat-error>El campo es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy" style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;">
              <mat-label>Correo del padre o tutor</mat-label>
              <input type="email" matInput [(ngModel)]="student.student.relative.email" name="correoEmergencia" maxlength="20" required>
              <mat-error>El campo es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="registroNuevo" style="background-color:#80C8BC; color: white;">
      <div class="col">
        <div class="encabezado">
          <p>Registro de nuevo usuario</p>
          <hr>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Nombre</mat-label>
              <input type="text" matInput [(ngModel)]="student.student.firstName" name="nombre" maxlength="60" required>
              <mat-error>El campo es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
          <mat-form-field appearance="legacy">
            <mat-label>Apellido</mat-label>
            <input type="text" matInput [(ngModel)]="student.student.lastName" name="apellidoP" maxlength="60" required>
            <mat-error>El campo es requerido</mat-error>
          </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
          <mat-form-field appearance="legacy" class="example-form-field">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput  [matDatepicker]="datepicker" [(ngModel)]="student.student.dateOfBirth" name="fechaNacimiento" required>
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancelar</button>
                <button mat-raised-button color="primary" matDatepickerApply>Aceptar</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Genero</mat-label>
              <mat-select [(ngModel)]="student.student.gender" name="genero">
                <mat-option *ngFor="let gender of generos" [value]="gender">
                  {{gender}}
                </mat-option>
              </mat-select>
              <mat-error>El campo es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy">
            <mat-label>Institucion</mat-label>
            <mat-select [(ngModel)]="student.student.institutionId" name="escuela">
              <mat-option *ngFor="let institution of institutions" [value]="institution.id">
                {{institution.name}}
              </mat-option>
            </mat-select>
            <mat-error>El campo es requerido</mat-error>
          </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Ciudad</mat-label>
              <input type="text" matInput [(ngModel)]="student.student.address.city" name="ciudad" maxlength="100" required>
              <mat-error>El campo es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Estado</mat-label>
              <mat-select [(ngModel)]="student.student.address.StateProvinceCodeId" name="estado">
                <mat-option *ngFor="let estado of estados" [value]="estado.id">
                  {{estado.longDescription}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy">
            <mat-label>Código Postal</mat-label>
            <input type="text" matInput [(ngModel)]="student.student.address.postalCode" maxlength="10" name="codigoPostal" required>
            <mat-error>El campo es requerido</mat-error>
          </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Direccion (linea 1)</mat-label>
              <textarea matInput placeholder="Dirección 1" [(ngModel)]="student.student.address.line1" name="line1" maxlength="256" required></textarea>
              <mat-error>El campo es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Direccion (linea 2)</mat-label>
              <textarea matInput placeholder="Dirección 2" [(ngModel)]="student.student.address.line2" maxlength="256" name="line2"></textarea>
              <mat-error>El campo es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>        
        <div class="row">
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Correo del usuario</mat-label>
              <input type="text" matInput [(ngModel)]="student.user.email" name="email" [formControl]="email" maxlength="256" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Teléfono</mat-label>
              <input type="text" matInput [(ngModel)]="student.user.phoneNumber" name="telefono" maxlength="20" required>
              <mat-error>El campo es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="student.user.password" minlength='10' name="password" required>
              <mat-error *ngIf="student.user.password">La contraseña debe ser de al menos 10 caracteres y 1 dígito</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Confirmación de contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="passwordConfirm"  name="passwordConfirm" password>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <div *ngIf="student.user.password != passwordConfirm" style="margin-top:-10px;">
              <mat-error>Las contraseñas no coinciden</mat-error>
            </div>
          </div>
          <div class="col-2" *ngIf="!privacidad">
            <label style="margin: 0px auto; width:100%"><input type="checkbox" id="checkme" (click)="privacidad = true" /> <a routerLink="/privacidad">Estoy de acuerdo con el aviso de privacidad</a></label>
          </div>
          <div class="col-2">
            <div *ngIf="privacidad">
              <button class="botonLogin" (click)="onAdd()">Registrar</button>
            </div>
          </div>
          <div *ngIf="error">
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
