<div class="container" style="margin-bottom: 30px">
  <input type="button" value="Regresar" onclick="history.back()"><br>
  <div class="row">
    <div class="col">
      <h1>AVISO DE PRIVACIDAD</h1>
      <p>Skepsi Gimnasio del Pensamiento, S.A. de C.V. con domicilio en Calle Portoro, número 1,
        Colonia Lomas del Marmol, Puebla, Puebla, México, C.P. 72574, (en adelante “Skepsi”),
        reconoce la importancia que tiene el tratamiento legítimo, controlado e informado de los
        datos personales de sus clientes y usuarios de nuestro sitio web, de nuestro sitio, lista de
        distribución y demás sitios web propiedad de Skepsi (en adelante, conjuntamente “nuestro
        sitio web”, según corresponda), y pone a su disposición el presente Aviso de Privacidad, a
        fin de que conozca sus prácticas al obtener, usar, almacenar y, en general, tratar sus datos
        personales, de conformidad con la Ley Federal de Protección de Datos Personales en
        Posesión de los Particulares y demás normatividad aplicable (en adelante “la Ley”)</p>
        <ul>
          <li>Datos Personales que recabamos</li>
          <li>Finalidades y/o usos de los Datos Personales</li>
          <li>Uso de tecnologías de seguimiento</li>
          <li>Transferencias de Datos Personales</li>
          <li>Medidas de Seguridad</li>
          <li>Derechos respecto a sus Datos Personales</li>
          <li>Cambios al Aviso de Privacidad</li>
          <li>Medidas de Seguridad</li>
          <li>Contacto</li>
        </ul>
        <h2>DATOS PERSONALES QUE RECABAMOS</h2>
        <p>No es necesario que cree una cuenta para tener acceso a algúnas áreas de Skepsi por lo que
          Usted puede navegar por nuestro sitio web sin proporcionar datos personales, sin embargo,
          si se suscribe a una Cuenta de Usuario, los datos personales que podemos recabar, pertenecen
          a las siguientes categorías:</p>
      <ul>
        <li>Datos de identificación: nombre, domicilio, fecha de nacimiento, sexo, número de
          teléfono fijo y/o móvil, correo electrónico, imagen.</li>
        <li>Datos académicos: Nivel de estudios.</li>
        <li>Datos de facturación: entidad a la que se hará el cargo, domicilio fiscal, RFC.</li>
        <li>Datos financieros: información de cuentas bancarias, forma de pago.</li>
        <li>Datos de geolocalización: La ubicación general extrapolda a partir de una dirección
          IP.</li>
      </ul>
      <h2>MENORES E INCAPACES</h2>
      <p>Skepsi es una empresa comprometida con la privacidad de los menores e incapaces; por ello,
        no recabamos intencionalmente ni tratamos datos personales de menores e incapaces cuando
        no se cuenta con el consentimiento expreso de sus padres, tutores o representantes legales.
        Si Usted es padre, tutor o representante legal de un menor o incapaz y sabe que nos ha
        proporcionado datos personales sin su consentimiento, podrá solicitar que los mismos sean
        cancelados a la siguiente dirección de correo electrónico cancelacion@skepsi.com.mx.</p>
      <h2>FINALIDADES Y/O USOS DE LOS DATOS PERSONALES</h2>
        <p>Podemos utilizar sus datos personales para diversas finalidades, dependiendo de las
          circunstancias particulares en las que se recaban, siempre obedeciendo a la relación que
          tengamos con Usted y al aviso de privacidad específico que, en su caso, se haya puesto a su
          disposición. Esto incluye, entre otros, lo siguiente:</p>
      <ul>
        <li>Para los fines para los cuales usted la proporcionó</li>
        <li>Autenticar su inicio de sesión y el procesamiento de sus pagos.</li>
        <li>Personalizar su experiencia en Skepsi y personalizar su programa de entrenamiento.</li>
        <li>Permitirle verificar controlar su desempeño y avance en Skepsi.</li>
        <li>Personalizar y entregar información acerca de nuestros productos y servicios
          mediante correo electrónico.</li>
        <li>Ponerse en contacto con usted con información, encuestas o publicidad que creemos
          que puede interesarle en relación con nosotros o Skepsi.</li>
        <li>Administrar los concursos y las encuestas.</li>
        <li>Brindar atención al cliente y enviar confirmaciones sobre su cuenta.</li>
        <li>Para investigación y reportes internos.</li>
        <li>Proteger nuestros derechos de propiedad intelectual y otros derechos.</li>
        <li>Dirigir y mejorar nuestro sitio web, nuestros juegos, entrenamientos, tuinas y retos.</li>
        <li>Mantener la seguridad de nuestro sitio web, de nuestros usuarios y/o clientes.</li>
      </ul>
      <h2>USO DE TECNOLOGÍAS DE SEGUIMIENTO</h2>
      <p>Cuando usted navega en nuestro sitio web se recaba cierta información no personal por medio
        de “cookies” y de los “registros del servidor” o “web beacons”. La obtención de esta
        información se da por el simple uso e interacción con nuestro sitio de Internet y la
        información que se recaba puede consistir en direcciones de Protocolo de Internet, su sistema
        operativo, tipo de navegador, información sobre su ubicación (proporcionada por
        dispositivos móviles) y la ruta que Usted sigue durante el tiempo que pasa en nuestro sitio.</p>
      <p>Estos datos se recaban únicamente con los siguientes propósitos: generar estadísticas
        relativas a las visitas a nuestro sitio web, al tiempo que pasa en el mismo, y los sitios de
        referencia que puedan haberle traído al nuestro. Esta información también se utiliza para
        mantener y actualizar los perfiles de los usuarios y para adecuar o personalizar la información
        que se proporciona por este medio.</p>
      <p>Es posible deshabilitar estas tecnologías de seguimiento en todo tipo de buscadores; sin
        embargo, para ejemplificar se señalan a continuación los pasos que hay que seguir para
        deshabilitarlas en Google Chrome: Ir al menú “Herramientas”; dar clic en “borrar datos de
        navegación”, seleccionar la opción “eliminar cookies y otros datos de sitios y de
        complementos”, dar clic en “aceptar”. Al deshabilitar o bloquear estos mecanismos se puede
        ocasionar que nuestro sitio no funcione correctamente. Para saber más sobre el tema, consulte
        http://www.allaboutcookies.org/es/.</p>
      <h2>TRANSFERENCIAS DE DATOS PERSONALES</h2>
        <p>Asimismo, una vez que nos sean proporcionados sus datos personales, se acepta que los
          mismos puedan ser transferidos a un tercero receptor ya sea a sociedades controladoras,
          subsidiarias o afiliadas, o a una sociedad matriz o a cualquier sociedad del mismo grupo
          empresarial, aliados estratégicos nacionales o extranjeros, con el fin de realizar
          adecuadamente los servicios ofrecidos, y quienes se encontrarán obligados en los mismos
          términos marcados por la Ley y el presente Aviso.</p>
      <p>De igual manera, Skepsi tomará las medidas de seguridad, administrativas, físicas y técnicas
        a su alcance, para la protección de sus Datos Personales, en el entendido de que el tercero
        receptor asumirá las mismas obligaciones que correspondan a Skepsi, de conformidad con el
        artículo 36 de la Ley Federal de Protección de Datos Personales en Posesión de los
        Particulares.</p>
      <p>Las transferencias nacionales o internacionales de datos podrán llevarse a cabo sin el
        consentimiento de Usted, entre otros casos:</p>
        <ul>
          <li>Cuando la transferencia esté prevista en una Ley o Tratado en los que México sea
            parte.</li>
          <li>Cuando la transferencia sea efectuada a sociedades controladoras, subsidiarias o
            afiliadas bajo el control común de Skepsi que opere bajo los mismos procesos y
            políticas internas.</li>
          <li>Cuando la transferencia sea necesaria por virtud de un contrato celebrado o por
            celebrar en interés del titular, por Skepsi y un tercero.</li>
          <li>Cuando la transferencia sea necesaria o legalmente exigida para la salvaguarda de un
            interés público, o para la administración de justicia.</li>
          <li>Cuando la transferencia sea precisa para el reconocimiento, ejercicio o defensa de un
            derecho en un proceso judicial, y</li>
          <li>Cuando la transferencia sea precisa para el mantenimiento o cumplimiento de una
            relación jurídica entre Skepsi y Usted.</li>
        </ul>
        <p>Las anteriores transferencias no requieren del consentimiento de Usted toda vez que se
          encuentran previstas el artículo 37 de la Ley Federal de Protección de Datos Personales en
          Posesión de los Particulares.</p>
      <p>Skepsi declara que realizará transferencias de sus datos personales a los siguientes terceros:</p>
        <ul>
          <li>Empleados de Skepsi.</li>
          <li>Prestadores de servicios de administración del contenido del sitio web, de nuestra
            aplicación y demás sitios web propiedad de Skepsi.</li>
          <li>Prestadores de servicios que nos ayuden a procesar pagos.</li>
          <li>Empleados o prestadores de servicios nos apoyen a analizar el tráfico web, enviar
            correos electrónicos y llevar un registro de las solicitudes de atención a clientes.</li>
          <li>En general, empleados o prestadores de servicios que nos ayuden a ejecutar nuestras
            operaciones.</li>
        </ul>
      <p>Skepsi podrá transferir sus datos personales a terceros con los que mantenga una relación
        jurídica, únicamente con el fin de cumplir con las finalidades descritas en el Aviso de
        Privacidad. Skepsi hará extensivas las obligaciones definidas en el presente Aviso a los
        terceros transferidos enlistados arriba.</p>
      <h2>MEDIDAS DE SEGURIDAD</h2>
      <p>Skepsi ha adoptado y mantiene las medidas de seguridad, administrativas, técnicas y físicas,
        necesarias y a su alcance para proteger los datos personales contra daño, pérdida, alteración,
        destrucción o el uso, acceso o tratamiento no autorizado. Además, limitamos el acceso a sus
        datos personales únicamente a aquellos empleados, agentes, contratistas y otros terceros que
        tengan necesidad de conocerlos para desempeñar sus funciones contractuales. En esos casos,
        los sujetos referidos únicamente tratarán sus datos personales por nuestras instrucciones, y
        están sujetos a la obligación de confidencialidad y a la obligación de cumplimiento de los
        procedimientos de protección de datos aquí descritos.</p>
      <h2>DERECHOS CON RESPECTO A SUS DATOS PERSONALES</h2>
      <p>Como titular de datos personales, usted puede ejercitar ante Skepsi, los derechos de acceso,
        rectificación, cancelación y oposición (derechos “ARCO”). Asimismo, puede revocar, en
        todo momento, el consentimiento que haya otorgado y que fuere necesario para el tratamiento
        de sus datos, así como limitar el uso o divulgación de los mismos.</p>
      <p>Lo anterior, a través del envío de su solicitud en los términos establecidos por la Ley al correo
        electrónico: cancelacion@skepsi.com.mx o al domicilio especificado en el primer párrafo del
        presente.</p>
      <p>Para su fácil referencia, se describen brevemente los derechos ARCO:</p>
      <p>Acceso.- Que se le informe cuáles de sus datos personales están contenidos en las bases de
        datos de Skepsi, para qué se utilizan dichos datos personales, el origen y las comunicaciones
        que se hayan realizado con los mismos y, en general, las condiciones y generalidades del
        tratamiento.</p>
      <p>Rectificación.- Que se corrijan o actualicen sus datos personales en caso de que sean
        inexactos o incompletos.</p>
      <p>Oposición.- Oponerse por causa legítima al tratamiento de sus datos personales.</p>
      <p>Cancelación.- Tienes el derecho general de solicitar la cancelación de su información
        personal en las siguientes circunstancias:</p>
      <ul>
        <li>Cuando la información personal ya no es necesaria para los fines por los que fue
          recopilada.</li>
        <li>Cuando revoques tu consentimiento al tratamiento basado en el consentimiento y no
          aplique alguna otra justificación legal para su tratamiento.</li>
        <li>Cuando tratemos tu información personal ilícitamente.</li>
      </ul>
      <h2>CAMBIOS AL AVISO DE PRIVACIDAD</h2>
      <p>Los cambios sustanciales en el presente Aviso de Privacidad le serán comunicados a través
        de nuestro sitio www.skepsi.com.mx</p>
      <h2>CONTACTO</h2>
        <p>En caso de tener dudas o comentarios respecto al Aviso de Privacidad, le pedimos contacte
          a Skepsi, a través de la siguiente dirección de correo electrónico ventas@skepsi.com.mx, o
          en la dirección antes especificada.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
