<div class="container" style="background-color: white">
  <form #paquetesForm="ngForm" class="formulario">
    <div class="row">
      <div class="col">
        <div class="encabezado">
          <p>Creación de paquetes</p>
          <section class="example-section">
            <mat-checkbox
            class="example-margin"
            matInput [(ngModel)]="freePlan"
            [ngModelOptions]="{standalone: true}"
            value="checked"
            (change)="paypalOptions()"
            >Plan de prueba (Gratuito)</mat-checkbox>
          </section>
          <hr>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Titulo del paquete</mat-label>
              <input type="text" matInput [(ngModel)]="paqueteController.name" name="nombre"
              style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;"
              required>
              <mat-error>El campo Titulo del paquete es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col" style="margin-bottom: 30px;">
            <mat-form-field appearance="legacy">
              <mat-label>Descripción del paquete</mat-label>
              <textarea matInput placeholder="Descripción" [(ngModel)]="paqueteController.description" name="descripcion"
              style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;"
              required></textarea>
              <mat-error>El campo Descripción del paquete es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="!freePlan">
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Precio del paquete $MXN</mat-label>
              <input type="number" matInput [(ngModel)]="paqueteController.cost" min="0" name="precio"
              style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;"
              required>
              <mat-error>El campo Precio del paquete es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col" *ngIf="!freePlan">
            <mat-form-field appearance="legacy">
              <mat-label>Precio de inscripción (nuevos) $MXN</mat-label>
              <input type="number" matInput [(ngModel)]="paqueteController.registrationCost" min="0" name="precioInscripcion"
              style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;"
              required>
              <mat-error>El campo Precio de inscripción es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy">
              <mat-label>Descuento del paquete %</mat-label>
              <input type="number" matInput [(ngModel)]="paqueteController.discountRate" min="0" name="descuento"
              style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;"
              required>
              <mat-error>El campo Descuento del paquete es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy"   >
              <mat-label>Número de meses</mat-label>
              <input type="number" matInput [(ngModel)]="paqueteController.duration" min="0" name="periodo"
              style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;"
              required>
              <mat-error>El campo Número de meses es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy"   >
              <mat-label>Número de días a la semana</mat-label>
              <input type="number" matInput [(ngModel)]="paqueteController.numberOfDaysPerWeek" min="0" name="dias"
              style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;"
              required>
              <mat-error>El campo Número de días a la semana es requerido</mat-error>
            </mat-form-field>
          </div>          
          <div class="col">
            <mat-form-field appearance="legacy"   >
              <mat-label>Edad mínima</mat-label>
              <input type="number" matInput [(ngModel)]="paqueteController.minAge" min="0" name="minima"
              style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;"
              required>
              <mat-error>El campo Edad mínima es requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="legacy"   >
              <mat-label>Edad máxima</mat-label>
              <input type="number" matInput [(ngModel)]="paqueteController.maxAge" min="0" name="maxima"
              style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;"
              required>
              <mat-error>El campo Edad máxima es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col" *ngIf="!freePlan">
            <section class="example-section">
              <mat-checkbox
              class="example-margin"
              matInput [(ngModel)]="paypalCheckBox"
              [ngModelOptions]="{standalone: true}"
              value="checked"
              (change)="paypalOptions()"
              >Crear plan en PayPal</mat-checkbox>
            </section>
            <div *ngIf="paypalCheckBox == true ">
              <div class="row">
                <mat-form-field appearance="legacy"   >
                  <mat-label>Productos de PayPal</mat-label>
                  <mat-select [(ngModel)]="paqueteController.PayPalProductId" name="PayPal"
                  style="box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 0px 0px; margin-bottom: 10px;">
                    <mat-option *ngFor="let product of payPalProducts" [value]="product.id">
                      {{product.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-button class="buttonCreate" data-toggle="modal" data-target="#example">
              Vista previa
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>



<!-- Update Modal -->
<div class="modal fade" id="example" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 50rem;">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Vista previa de paquete</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-subtitle">
        <p style="background-color: red; color: white; padding: 5px;">Atención, después de crear el paquete no será posible editarlo, confirme que los datos sean correctos.</p>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col" style="border-right:1px solid black">
            <h4><b>Titulo del paquete:</b> {{paqueteController.name}}</h4>
          </div>
          <div class="col" style="border-right:1px solid black">
            <h4><b>Descripción del paquete:</b> {{paqueteController.description}}</h4>
          </div>
          <div class="col">
            <h4 *ngIf="!freePlan"><b>Costo del paquete:</b> ${{paqueteController.cost}}.00 MXN</h4>
          </div>
        </div>
        <div class="row">
          <div class="col" style="border-right:1px solid black">
            <h4 *ngIf="!freePlan"><b>Descuento del paquete:</b> {{paqueteController.discountRate}}%</h4>
          </div>
        </div>
        <h4 *ngIf="!freePlan"><b>Costo de inscripción:</b> ${{paqueteController.registrationCost}}.00 MXN</h4>
        <h4 *ngIf="!freePlan"><b>Edad mínima:</b> {{paqueteController.minAge}}</h4>
        <h4 *ngIf="!freePlan"><b>Edad máxima:</b> {{paqueteController.maxAge}}</h4>
        <h4 *ngIf="!freePlan"><b>Días de clase a la semana:</b> {{paqueteController.numberOfDaysPerWeek}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn buttonCreate" (click)="onAdd()" data-dismiss="modal" style="border: 1px solid #673AB7;">Crear paquete</button>
      </div>
    </div>
  </div>
</div>
