<div class="ASYCO">
  <div class="skepsiLogo">
    <img src="../assets/img/skepsi/logo/SKEPSI_LOGO_05.png" class="skepsiLogo">
  </div>
  <div>
    <audio id="initEjerAudio" #initEjerAudio src="..\assets\Audios\InicioFin\SonidoInicioEjercicio.mpeg"
    preload="auto"></audio>
    <audio id="finEjerAudio" #finEjerAudio src="..\assets\Audios\InicioFin\SonidoFinEjercicio.mpeg"
      preload="auto"></audio>
    <audio id="initRutAudio" #iniRutAudio src="..\assets\Audios\InicioFin\SonidoInicioRutina.mpeg" preload="auto"></audio>
  </div>
  <div class="general" id="content-container">

    <!-- Paso 1: Instrucciones -->
    <div *ngIf="currentStep == ASYCO1012Step.Instructions">
      <div class="row progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          [attr.aria-valuenow]="timeLeft" [style.width]="(timeLeft*10)+'%'" aria-valuemin="0" aria-valuemax="20"
          style="margin:0px auto;">
        </div>
      </div>
      <br>
      <div class="row">
        <p class="titulo">A continuación verás tres tablas. No es necesario que las memorices, sólo leelas y analízalas</p>
      </div>
    </div>

    <!-- Paso 2: Introducción -->
    <div *ngIf="currentStep == ASYCO1012Step.Introduction">
      <div class="row" align="left">
        <div class="col">
          <h2>Esta tabla representa las emociones básicas. Todos nacemos con ellas. Léela y pregunta al entrenador si tienes dudas acerca de lo que significan.</h2>
          <ul>
            <li *ngFor="let emocion of emocionesBasicas" style="font-size:16px"><p style="margin-bottom:8px">{{emocion}}</p></li>
          </ul>
        </div>
        <div class="col">
          <h2>Estas son las emociones secundarias. Desde que nacemos las desarrollamos. Revísalas y pregunta al entrenador si tienes dudas acerca de lo que significan.</h2>
          <ul>
            <li *ngFor="let emocion of emocionesSecundarias" style="font-size:16px"><p style="margin-bottom:8px">{{emocion}}</p></li>
          </ul>
        </div>
      </div>
      <div class="row" align="left">
        <div class="col">
          <h2>Estos son tipos de afectos individuales. Desde niños aprendemos que la emoción se refleja en un afecto; por ejemplo, la satisfacción puede reflejarse en empatía.</h2>
          <div class="row">
            <div class="col">
              <ul>
                <li *ngFor="let afeccion of afecciones1" style="font-size:16px"><p style="margin-bottom:8px">{{afeccion}}</p></li>
              </ul>
            </div>
            <div class="col">
              <ul>
                <li *ngFor="let afeccion of afecciones2" style="font-size:16px"><p style="margin-bottom:8px">{{afeccion}}</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div style="display: flex; justify-content: center; margin-top: 30px;">
          <button style="width: 50%; max-width: 200px; min-width: 100px;" class="btn buttonSkepsi" (click)="nextStep()">Continuar</button>
        </div>
      </div>
    </div>

    <!-- Paso 3: Audios, emociones y afecciones -->
    <div *ngIf="currentStep == ASYCO1012Step.AudiosAndEmotions" class="full-parent-height">
      <div style="height: 100px;">
        <h1>
          A continuación escucharás dos minutos de música clásica. ¿Puedes mostrarnos qué emoción te causa, cómo te hace sentir y que sentimiento te despierta?
        </h1>
      </div>
      <div style="height: calc(100% - 100px);">
        <div class="row full-parent-height">
          <div class="row">
            <div style="display:inline; width:50px; padding: 0">
              <img width=30 height=30 src="../assets/img/skepsi/iconos/{{currentVolumeImage}}.png">
              <mat-slider
                vertical
                style="height:200px; max-height:100%;"
                [max]=1
                [min]=0
                [step]=0.01
                [(ngModel)]="volume"
                (input)="onChangeVolume($event)"
              ></mat-slider>
            </div>
            <div style="display:inline; width: calc(100% - 100px); margin-top:15px">
              <div class="row">
                <p>Da clic en el botón de reproducción cuando estés listo. Puedes pausar y reiniciar el audio si lo necesitas.</p>
                <div>
                  <button (click)="togglePlayPause()" class="invisible-button">
                    <img width=30 height=30 src="../assets/img/skepsi/iconos/{{currentAudio.paused ? 'Play' : 'Pause'}}.png">
                  </button>
                  <mat-slider disabled style="width: 80%" [max]="currentAudio.duration" [min]=0 [step]=1 [(ngModel)]="currentAudioTime"></mat-slider>
                  <button (click)="restartAudio()" class="invisible-button">
                    <img width=25 height=25 src="../assets/img/skepsi/iconos/Restart.png">
                  </button>
                </div>
              </div>
              <div *ngIf="hasHeardMusic; else hasNotHeardMusic" >
                <div class="row">
                  <div class="col-2">
                    <h3>Emociones básicas</h3>
                    <div class="example-container">
                      <div
                        cdkDropList
                        #basicEmotionsDropList="cdkDropList"
                        [cdkDropListConnectedTo]="[selectedDropList]"
                        [cdkDropListData]="emocionesBasicas"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of emocionesBasicas">
                          <div style="background-color:rgb(218, 247, 138)" class="example-box" *ngIf="isBasicEmotion(item)" cdkDrag>{{item}}</div>
                          <div style="background-color:rgb(138, 247, 143)" class="example-box" *ngIf="isSecondaryEmotion(item)" cdkDrag>{{item}}</div>
                          <div style="background-color:rgb(138, 231, 247)" class="example-box" *ngIf="isAffection(item)" cdkDrag>{{item}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <h3>Emociones secundarias</h3>
                    <div class="example-container">
                      <div
                        cdkDropList
                        #secondaryEmotionsDropList="cdkDropList"
                        [cdkDropListConnectedTo]="[selectedDropList]"
                        [cdkDropListData]="emocionesSecundarias"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of emocionesSecundarias">
                          <div style="background-color:rgb(218, 247, 138)" class="example-box" *ngIf="isBasicEmotion(item)" cdkDrag>{{item}}</div>
                          <div style="background-color:rgb(138, 247, 143)" class="example-box" *ngIf="isSecondaryEmotion(item)" cdkDrag>{{item}}</div>
                          <div style="background-color:rgb(138, 231, 247)" class="example-box" *ngIf="isAffection(item)" cdkDrag>{{item}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <h3>Afecciones individuales</h3>
                    <div class="example-container">
                      <div
                        cdkDropList
                        #affections1EmotionsDropList="cdkDropList"
                        [cdkDropListConnectedTo]="[affections2EmotionsDropList, selectedDropList]"
                        [cdkDropListData]="afecciones1"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of afecciones1">
                          <div style="background-color:rgb(218, 247, 138)" class="example-box" *ngIf="isBasicEmotion(item)" cdkDrag>{{item}}</div>
                          <div style="background-color:rgb(138, 247, 143)" class="example-box" *ngIf="isSecondaryEmotion(item)" cdkDrag>{{item}}</div>
                          <div style="background-color:rgb(138, 231, 247)" class="example-box" *ngIf="isAffection(item)" cdkDrag>{{item}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="example-container">
                      <div
                        cdkDropList
                        #affections2EmotionsDropList="cdkDropList"
                        [cdkDropListConnectedTo]="[affections1EmotionsDropList, selectedDropList]"
                        [cdkDropListData]="afecciones2"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of afecciones2">
                          <div style="background-color:rgb(218, 247, 138)" class="example-box" *ngIf="isBasicEmotion(item)" cdkDrag>{{item}}</div>
                          <div style="background-color:rgb(138, 247, 143)" class="example-box" *ngIf="isSecondaryEmotion(item)" cdkDrag>{{item}}</div>
                          <div style="background-color:rgb(138, 231, 247)" class="example-box" *ngIf="isAffection(item)" cdkDrag>{{item}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <h3 style="font-weight:bold;">Arrastra las emociones y afectos que sentiste a esta columna</h3>
                    <div class="example-container">
                      <div
                        cdkDropList
                        #selectedDropList="cdkDropList"
                        [cdkDropListConnectedTo]="[basicEmotionsDropList, secondaryEmotionsDropList, affections1EmotionsDropList, affections2EmotionsDropList]"
                        [cdkDropListData]="audios[audioIndex].selections"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of audios[audioIndex].selections">
                          <div style="background-color:rgb(218, 247, 138)" class="example-box basicEmotion" *ngIf="isBasicEmotion(item)" cdkDrag>{{item}}</div>
                          <div style="background-color:rgb(138, 247, 143)" class="example-box secondaryEmotion" *ngIf="isSecondaryEmotion(item)" cdkDrag>{{item}}</div>
                          <div style="background-color:rgb(138, 231, 247)" class="example-box secondaryEmotion" *ngIf="isAffection(item)" cdkDrag>{{item}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div style="display: flex; justify-content: center; margin-top: 15px; margin-bottom: 15px;">
                    <button style="width: 50%; max-width: 200px; min-width: 100px;" [disabled]="!hasSelectedItems()" class="btn buttonSkepsi" (click)="nextStep()">Continuar</button>
                  </div>
                </div>
              </div>
              <ng-template #hasNotHeardMusic>
                <p>Para continuar, debes escuchar el audio completo.</p>
              </ng-template>
            </div>
            <div style="display:inline; width:50px; padding: 0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Paso 4: Final -->
    <div *ngIf="currentStep == ASYCO1012Step.End" class="row full-parent-height">
      <div class="row" class="row full-parent-height" style="display: flex; justify-content:center; align-items:center; align-content: center;">
        <h1 style="font-weight: bold;" *ngIf="audioIndex == audioMaxIndex">¡Felicidades! Has llegado al final de la rutina.</h1>
      </div>
    </div>
  </div>
</div>
