<div class="container">
  <div class="title">
    <h1>Dashboard de monitoreo del tutor</h1>
  </div>
  <h3>Tutor: {{nombreTutor}} </h3>
  <div class="grupos">
    <h2>Grupos</h2>

      <div class="d-flex justify-content-around">
        <div class="card" *ngFor="let grupo of grupos">
          <h3 class="card-header">{{grupo.code}}</h3>
          <div class="card-body">
            <h5 class="card-title">Paquete: {{grupo.plan.name}}</h5>
            <p class="card-text">Horario: {{grupo.plan.schedule}}</p>
            <p>Dias hábiles: </p>
              <div *ngFor="let item of grupo.plan.planDays" style="text-align:left;">
                <p class="card-text">- {{item}}</p>
              </div>
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-success" style="color: white" (click)="detalles(grupo.id)">Detalles</a>
          </div>
        </div>
      </div>
  </div>

</div>
