<div class="AGNAN">
  <div class="skepsiLogo">
    <img src="../../../../../assets/img/skepsi/logo/SKEPSI_LOGO_05.png" (click)="regresar()" class="skepsiLogo">
  </div>
  <div>
    <audio id="initEjerAudio" #initEjerAudio src="..\assets\Audios\InicioFin\SonidoInicioEjercicio.mpeg"
    preload="auto"></audio>
    <audio id="finEjerAudio" #finEjerAudio src="..\assets\Audios\InicioFin\SonidoFinEjercicio.mpeg"
      preload="auto"></audio>
    <audio id="initRutAudio" #iniRutAudio src="..\assets\Audios\InicioFin\SonidoInicioRutina.mpeg" preload="auto"></audio>
  </div>
  <div class="general">

    <!-- Paso 1: Instrucciones -->
    <div *ngIf="currentStep == AGNAN1012Step.Instructions">
      <div class="row progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          [attr.aria-valuenow]="timeLeft" [style.width]="(timeLeft*10)+'%'" aria-valuemin="0" aria-valuemax="20"
          style="margin:0px auto;">
        </div>
      </div>
      <br>
      <div class="row">
        <p class="titulo">¿Has pensado que todo lo que usamos tiene un orden? Vamos a armar mecanismos.</p>
      </div>
    </div>

    <!-- Paso 3: Presentación del mecanismo -->
    <div *ngIf="currentStep == AGNAN1012Step.MechanismPresentation" class="full-parent-height">
      Aquí va la imagen de cómo se verá el mecanismo final
    </div>

    <!-- Paso 4: Pasos del mecanismo -->
    <div *ngIf="currentStep == AGNAN1012Step.MechanismSteps" class="full-parent-height">
      <div class="row" style="height: 50px">
        <h1 style="font-weight: bold">{{mechanisms[mechanismIndex].steps[stepIndex].text}}</h1>
      </div>
      <div class="row" style="height:calc(100% - 110px);">
        <div style="display:flex;">
          <div style="width:40%; display: flex; justify-content: center; align-items: center;">
            <img height="400" style="display:inline; max-width: 100%; height: 400px;" src="../assets/img/mecanismos/Mecanismo{{mechanismIndex + 1}}/Armado/Paso0.jpg">
          </div>
          <div style="width:60%;">
            <div class="full-parent-height" style="display: flex; flex-direction: column; justify-content: space-around;">
              <div id="all-parts" style="height: 100px; margin-top: 10px;">
                <div
                  cdkDropList
                  #allPieces="cdkDropList"
                  [cdkDropListConnectedTo]="[selectedPieces]"
                  cdkDropListOrientation="horizontal"
                  [cdkDropListData]="parts"
                  class="example-list-horizontal"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box-horizontal center-content" *ngFor="let part of parts" cdkDrag>
                    <img height="80" [src]="'../assets/img/mecanismos/piezas/' + part + '.png'" alt="{{part}}"/>
                  </div>
                </div>
              </div>
              <div>
                <h2 style="margin-bottom: 2px">Arrastra hacia abajo las piezas que crees que se utilizaron</h2>
                <img width="40px" src="../assets/img/skepsi/iconos/DownArrow.png" alt="Down">
              </div>
              <div>
                <h3 style="text-align:left">Piezas seleccionadas:</h3>
                <div id="selected-parts" style="height: 100px; margin-top: 10px;">
                  <div
                    cdkDropList
                    #selectedPieces="cdkDropList"
                    [cdkDropListConnectedTo]="[allPieces]"
                    cdkDropListOrientation="horizontal"
                    [cdkDropListData]="mechanisms[mechanismIndex].steps[stepIndex].selectedParts"
                    class="example-list-horizontal"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box-horizontal center-content" *ngFor="let part of mechanisms[mechanismIndex].steps[stepIndex].selectedParts" cdkDrag>
                      <img height="80" [src]="'../assets/img/mecanismos/piezas/' + part + '.png'" alt="{{part}}"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row" style="height: 50px; display: flex; align-items: flex-end;">
        <div style="display: flex; justify-content: center; height: 40px;">
          <button style="width: 50%; max-width: 200px; min-width: 100px;" class="btn buttonSkepsi" (click)="nextStep()">Continuar</button>
        </div>
      </div>
    </div>

    <!-- Paso 6: Final -->
    <div *ngIf="currentStep == AGNAN1012Step.End" class="row full-parent-height">
      <div class="row" class="row full-parent-height" style="display: flex; justify-content:center; align-items:center; align-content: center;">
        <h1 style="font-weight: bold;">¡Felicidades! Has llegado al final de la rutina.</h1>
      </div>
    </div>
  </div>
</div>
